.mypage-side      
  .contents-var
    .contents
      .title
        My Page
      -# .mypage-top
      .register-book
        本を登録
        -# .mypage-top__sub-name  
        .register-book__sub-name
          Register books
          -# My page top  
      .registered-book
        マイブック
        .registered-book__sub-name
          Registered books
      .category
        カテゴリー別
        .category__sub-name
          Category
      .status
        ステータス別
        .status__sub-name
          Status             
      .reading-history
        読書履歴
        .reading-history__sub-name
          Reading history
      
