.mypage-side      
  .contents-var
    .contents
      .title
        My Page
      .mypage-top
        トップ
        .mypage-top__sub-name  
          My page top  
      .registered-book
        マイブック
        .registered-book__sub-name
          registered book
      .category
        カテゴリー別
        .category__sub-name
          category
      .status
        ステータス別
        .status__sub-name
          status             
      .reading-history
        読書履歴
        .reading-history__sub-name
          reading history
      
