.mypage-side      
  .contents-var
    .contents
      .title
        My Page
      = link_to edit_user_path(current_user) do   
        .register-book-btn
          .register-book-btn-name      
            本を登録
          .register-book-btn__sub-name
            Register books
      .registered-book-btn
        マイブック
        .registered-book-btn__sub-name
          Registered books
      .category-btn
        カテゴリー別
        .category-btn__sub-name
          Category
      .status-btn
        ステータス別
        .status-btn__sub-name
          Status             
      .reading-history-btn
        読書履歴
        .reading-history-btn__sub-name
          Reading history
      
