$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$Light_Sea_Green: #20B2AA;
$light_gray: #999;
$black: #434a54;
$alert_Salmon: #FA8072;
// $alert_orange: #F35500;