.like_button_on
  = link_to "いいね済み", likes_delete_path(book_id: @book.id), {method: "post", remote: true}
  = @like_count
.like_button
  = link_to "いいね", likes_create_path(book_id: @book.id), {method: "post", remote: true}
  = @like_count
