.MainDisplay
  = render partial: 'shared/header_1'

  .UserDetails
    .DetailsContainer
      .title-box
        .icon
          .fa.fa-user
        .title
          ユーザー情報
      .Details-upper
        .Details-upper__left
          .user-icon

          .user-nickname
            ニックネーム
        .Details-upper__right
          %ul.regdister-info
            %li.list 登録数 :
            %li.list 登録ジャンル :
            %li.list アプリ使用開始日 :
      .Details-lower
        .user-introduction
      .Bottom-space       

  = render partial: 'shared/footer_1'


