.MainHeader
  .logo-box
    = link_to home_index_path(current_user) do
      Book Stock     
  %ul.conent-list   
    %li.conent-list__item
      - if user_signed_in?
        = link_to books_path(current_user) do
          トップ
      - else 
        = link_to app_description_home_index_path(current_user) do
          アプリについて 