.MainHeader
  .logo-box
    = link_to home_index_path(current_user) do
      Book Stock     
  %ul.conent-list   
    %li.conent-list__item
      = link_to home_index_path(current_user) do
        アプリについて 