-# - if user_signed_in?
-#   - if book.like_user(current_user.id)
-#     = button_to book_likes_path(book, like), method: :delete, remote: true do
-#       = image_tag("icon_red_heart.png")
-#       %span
-#         = book.likes_count
-#   - else
-#     = button_to book_likes_path(book), remote: true do
-#       = image_tag("icon_gray_heart.png")
-#       %span
-#         = book.likes_count
-# - else
-#   = image_tag("icon_gray_heart.png")
-#   %span
-#     = book.likes_count
