.MainDisplay
  = render partial: 'shared/header_4'  

  .middle-display_h
    .introduction_box
      .logo
        Book Stock
      .text
        %p「Book Stock」は、皆さんがお持ちの本を視覚的に
        %p一元管理できるアプリです。
        %br本は、読む人によって内容以外にも様々な" 要素 "を
        %p持ちます。
        %br様々な要素を持つ多数の本を、1つのアプリで楽しく
        %p管理してみましょう！
      .btn_box
        = link_to books_path(current_user) do
          .app-btn
            Appを使う
        = link_to app_description_home_index_path(current_user) do
          .app-btn 
            Appの解説
      .notifi_account
        %p※テストアカウントがございます。ログイン画面へお進みください。
                  
  = render partial: 'shared/footer_1'           