.main-display
  .main-header
    .main-header__logo-box
      Book Stock      
    .main-header__conent__box
      -# .main-header__conent__box__text
      -#   = link_to registers_path(current_user) do
      -#     トップページ
      .main-header__conent__box__text
        = link_to new_user_session_path do
          ユーザー新規登録
      .main-header__conent__box__text
        = link_to user_session_path do
          ログイン
      .main-header__conent__box__text
        よくあるご質問
  .middle-display
    .introduction_box
      .logo
        Book Stock
      .text
        %p「Book Stock」は、皆さんがお持ちの本を一元管理してくれるアプリです。
        %br本には、内容以外にも様々なステータスが存在します。
        %br沢山のステータスを持つ沢山の本を、1つのアプリで
        %p効率良く管理してみましょう！
      .btn_box
        = link_to registers_path(current_user) do   
          .app_btn
            Appを使う
        = link_to registers_path(current_user) do    
          .description_btn 
            Appの解説         
  .footer
    .logo
      Book Stock
    .sub
      Copyright &copy; Kazuki Kouno All rights reserved            