* {
  box-sizing: border-box;
}
 
.main-display {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  .main-header {
    background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753));
    height: 110px;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;                         
    &__logo-box { 
      height: 50px;  
      width: 200px;
      color: white;
      font-size: 35px;
      font-family: fantasy;
      letter-spacing: 1px;
      padding-top: 10px;
      margin: 0 auto;
      cursor: pointer;
    }  
    &__conent__box {
      margin-top: 28px;
      font-size: 15px;
      letter-spacing: 2px;
      display: flex;
      justify-content: center;
      &__text {
        color: silver;
        margin: 0 80px;
        cursor: pointer;
        a {
          color: silver;
          &:hover {
            color: black;
            text-decoration: underline;
          }
        }  
        &:hover {
          color: black;
          text-decoration: underline;
        }
      }  
    }   
  }          
  .main-second-header {
    background: linear-gradient(rgba(248, 249, 250, 0.801), rgba(152, 160, 124, 0.575));     
    height: 50px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee; 
    line-height: 50px;
    &__user-name {
      height: 30px;
      width: 170px;
      font-size: 15px;
      line-height: 30px;
      text-align: center;
      border: outset 2px;
      margin: 10px 0 0 50px;
    }
    .search_books {
      width: 450px;
      margin-left: 100px;
      padding: 0 20px;
    }
    &__content__btn-box {          
      width: 500px;
      padding-left: 120px;
      &--icon{
        padding-right:20px;
      }
      .content__btn__facebook {
        color: #ffffff;
        font-size: 15px;
        text-decoration: none;
        background-color: #4169e1;
        border-radius: 3px;
        padding: 4px 8px;
        &:hover {
          opacity: 0.7;
        }  
      }
      .content__btn__twitter {
        color: #ffffff;
        font-size: 15px;
        text-decoration: none;
        background-color: #00bfff;
        margin: 0 15px;
        border-radius: 3px;
        padding: 4px 8px;
        &:hover {
          opacity: 0.7;
        }
      }
      .content__btn__instagram {
        color: #ffffff;
        font-size: 15px;
        text-decoration: none;
        background-color: #fc76bf;
        border-radius: 3px;
        padding: 4px 8px;
        &:hover {
          opacity: 0.7;
        }      
      }
    } 
  }
}  