* {
  box-sizing: border-box;
}
 
.main-display {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  .main-header {
    background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753));
    height: 110px;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;                         
    &__logo-box { 
      height: 50px;  
      width: 200px;
      color: white;
      font-size: 35px;
      font-family: fantasy;
      letter-spacing: 1px;
      padding-top: 10px;
      margin: 0 auto;
      cursor: pointer;
    }  
    &__conent__box {
      margin-top: 28px;
      font-size: 15px;
      letter-spacing: 2px;
      display: flex;
      justify-content: center;
      &__text {
        color: silver;
        margin: 0 80px;
        cursor: pointer;
        a {
          color: silver;
          &:hover {
            color: black;
            font-weight: bold;
            text-decoration: underline;
          }
        }  
        &:hover {
          color: black;
          font-weight: bold;
          text-decoration: underline;
        }
      }  
    }   
  }          
  .main-second-header {
    background: linear-gradient(rgba(248, 249, 250, 0.801), rgba(152, 160, 124, 0.575));     
    height: 50px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee; 
    line-height: 50px;
    &__user-name {
      height: 30px;
      width: 170px;
      font-size: 15px;
      line-height: 30px;
      text-align: center;
      border: outset 2px;
      margin: 10px 0 0 50px;
    }
    .search_books {
      width: 450px;
      margin-left: 100px;
      padding: 0 20px;
    }
    &__content__btn-box {          
      width: 500px;
      padding-left: 120px;
      &--icon{
        padding-right:20px;
      }
      .content__btn__facebook {
        color: #ffffff;
        font-size: 15px;
        text-decoration: none;
        background-color: #4169e1;
        border-radius: 3px;
        padding: 4px 8px;
        &:hover {
          opacity: 0.7;
        }  
      }
      .content__btn__twitter {
        color: #ffffff;
        font-size: 15px;
        text-decoration: none;
        background-color: #00bfff;
        margin: 0 15px;
        border-radius: 3px;
        padding: 4px 8px;
        &:hover {
          opacity: 0.7;
        }
      }
      .content__btn__instagram {
        color: #ffffff;
        font-size: 15px;
        text-decoration: none;
        background-color: #fc76bf;
        border-radius: 3px;
        padding: 4px 8px;
        &:hover {
          opacity: 0.7;
        }      
      }
    } 
  }
  .form {
    height: calc(100vh - 220px);
    font-family: ヒラギノ明朝 ProN;
    font-size: 13px;
    .input-box {
      height: 100%;           
      width: 670px;
      margin: 0 auto;
      padding: 20px;
      &__content-name-box {
        height: 30px;
        letter-spacing: 2px;
        font-size: 22px;
        line-height: 30px;
        padding: 0 12px 0 12px;
        margin-bottom: 15px;
        display: flex;
        .icon {
          margin-right: 8px;
        }
        .name{
        }
      }       
      .book_image {
        height: 140px;
        width: 120px;
        border: double 3px gray;
        margin: 0 auto;
        font-size: 5px;
        line-height: 160px; 
        text-align: center;
        margin-bottom: 10px;
      }  
      .book_image-title {
        margin: 0 auto;
        font-size: 8px;
        text-align: center;
        margin-bottom: 10px;    
      }
      .input_image {
        display: block;
        font-size: 11px;
        text-align: center;
        height: 25px;
        width: 230px;
        margin: 0 auto;
        border: inset #dbedf0 2px;
        padding: 0 8px;
      }
      .book-items-box {
        height: 400px;
        margin: 0 auto;
        padding: 15px 30px;
        &__top {
          display: flex;
          margin-bottom: 20px;
          &__left {
            &__name {
              height: 20px;
              width: 100px;
              margin-right: 220px;
              margin-bottom: 30px;
            }
            .book_title {
              height: 30px;
              width: 250px;
              border: inset #dbedf0 2px;
              border-radius: 5px;
              padding: 0 8px;
            }
          }
          &__right {
            &__name {
              height: 20px;
              width: 100px;
              margin-bottom: 30px;
            }
            .book_author {
              height: 30px;
              width: 250px;
              border: inset #dbedf0 2px;
              border-radius: 5px;
              padding: 0 8px;
            }
          }        
        }
        &__middle {
          display: flex;
          margin-bottom: 20px;
          &__left {
            &__name {
              height: 20px;
              width: 100px;
              margin-right: 220px;
              margin-bottom: 30px;
            }
            .book_status {
              background-color: white;
              height: 30px;
              width: 250px;
              border: inset #dbedf0 2px;
              padding: 0 8px;
            }
          }
          &__right {
            &__name {
              height: 20px;
              width: 100px;
              margin-right: 220px;
              margin-bottom: 6px;
            }
            .book_genre {
              background-color: white;
              height: 30px;
              width: 250px;
              border: inset #dbedf0 2px;
              padding: 0 8px;
            }
          }
        }
        &__bottom {
          display: flex;
          margin-bottom: 28px;
          &__left {
            &__name {
              height: 20px;
              width: 100px;
              margin-right: 220px;
              margin-bottom: 30px;
            }
            .book_item {
              background-color: white;
              height: 30px;
              width: 250px;
              border: inset #dbedf0 2px;
              padding: 0 8px;
            }
          }
          &__right {
            &__name {
              height: 20px;
              width: 100px;
              margin-right: 220px;
              margin-bottom: 30px;
            }
            .book_purchase-date {
              background-color: white;
              height: 30px;
              width: 250px;
              border: inset #dbedf0 2px;
              border-radius: 5px;
              padding: 0 8px;
            }
          }         
        }
        .impression-box {
          margin: 0 auto;
          padding: 0 10px;
          &__title {
          }
          .book_impression {
            height: 70px;
            width: 550px;
            border: inset #dbedf0 2px;
            padding: 0 8px;
          }
        }
      }
      .btn-box {
        height: 100px;
        margin-top: 5px;
        padding-top: 25px;
        font-size: 20px;
        text-align: center;
        letter-spacing: 3px;
        line-height: 50px;
        display: flex;
        justify-content: center;
        .register-btn {
          background-color: #04a711;
          height: 50px;
          width: 180px;
          color: #eeeeee;
          margin-right: 60px;
          border: outset 2px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            background-color: #05800f;
          }  
        }
        a { 
          color: #eeeeee;
          background-color: black;
          height: 50px;
          width: 130px;
          border: outset 2px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            background-color: rgb(88, 83, 83);
          }
          // .return-btn {
            // background-color: black;
            // height: 50px;
            // width: 130px;
            // border: outset 2px;
            // border-radius: 20px;
            // cursor: pointer;
            // &:hover {
            //   background-color: rgb(88, 83, 83);
            // }  
          // }
        }  
      }
    }
  }

  .mypage-header {
    background-color: #eaf6fd;;   
    height: 50px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #eeeeee;
    box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295);  
    .title {
      font-family: ヒラギノ明朝 ProN;
      letter-spacing: 2px;
      font-size: 23px;
      line-height: 50px;
      margin-right: 20px;
      display: flex;
      &__icon {
        margin-right: 5px;
      }
      &__name {
      }
    }
    .mypage-top {
      color: #444444;
      font-size: 16px;
      line-height: 50px;
      margin: 0 60px;
      cursor: pointer;
      &:hover {
        color: black;
        font-weight: bold;
        text-decoration: underline;
      }
    } 
    .register-book {
      color: #444444;
      font-size: 16px;
      line-height: 50px;
      cursor: pointer;
      &:hover {
        color: black;
        font-weight: bold;
        text-decoration: underline;
      }
    } 
    .registered-book {
      color: #444444;
      font-size: 16px;
      line-height: 50px;
      margin: 0 60px;
      cursor: pointer;
      &:hover {
        color: black;
        font-weight: bold;
        text-decoration: underline;
      }
    }
    .genre-book {  
      color: #444444;
      font-size: 16px;
      line-height: 50px;
      cursor: pointer;
      &:hover {
        color: black;
        font-weight: bold;
        text-decoration: underline;
      }
    } 
    .status-book {
      color: #444444;
      font-size: 16px;
      line-height: 50px;
      margin: 0 60px;
      cursor: pointer;
      &:hover {
        color: black;
        font-weight: bold;
        text-decoration: underline;
      }
    }
    .reading-history {
      color: #444444;
      font-size: 16px;
      line-height: 50px;
      cursor: pointer;
      &:hover {
        color: black;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
  .book_detail {
    height: 1000px;
    // background-color: rgb(197, 255, 241);
    .content_title {
      font-family: ヒラギノ明朝 ProN;
      letter-spacing: 5px;
      font-size: 25px;
      line-height: 30px;
      padding: 40px 0 0 200px;
    }
    .upper_box{
      // background-color: hsl(93, 83%, 82%);
      height: 600px;
      width: 100%;
      padding: 0 50px;
      display: flex;
      .upper_left_box {
        // background-color: #e6fc6b;
        height: 100%;
        width: 50%;
        padding: 10px 0 0 250px;
        .title {
          font-size: 25px;
          text-align: center;
          margin-bottom: 20px;
        }
        .like_box {

        }
        .image {
          background-image: url(https://images-na.ssl-images-amazon.com/images/I/51jPX80edlL._SX352_BO1,204,203,200_.jpg);
          background-size: 100%;
          height: 395px;
          width: 280px;
          border: 1px;
          margin: 0 auto;
          box-shadow: 0 8px 15px 8px rgba(0, 0, 0, 0.295); 
        }
        .author {
          font-size: 20px;
          margin-top: 30px;
          text-align: center;
        }
      }
      .upper_right_box {
        // background-color: #94fc6b;
        height: 100%;
        width: 50%;
        padding: 50px 50px 0 50px;
        font-family: ヒラギノ角ゴ ProN;
        color: midnightblue;
        .top {
          font-size: 17px;
          display: flex;
          justify-content: left;
          .heading {
            height: 100px;
            width: 200px;
            margin-right: 50px;       
            .status {
              font-size: 20px;
              color: #000;
              padding: 20px 0 0 30px;
            }    
          }
          .heading {
            height: 100px;
            width: 200px;
            .genre {
              font-size: 20px;
              color: #000;
              padding: 20px 0 0 30px;
            }
          }    
        }
        .middle {
          font-size: 17px;
          margin-bottom: 20px;
          display: flex;
          justify-content: left;
          .heading {
            height: 100px;
            width: 200px;
            margin-right: 50px;
          }
            .item {
              font-size: 20px;
              color: #000;
              padding: 20px 0 0 30px;
            }
          .heading {
            
          }
            .buydate {
              font-size: 20px;
              color: #000;
              padding: 20px 0 0 30px;
            }
        }
        .heading {
          font-size: 17px;
          margin-bottom: 20px;  
        }
        .impression {
          height: 150px;
          width: 470px;
          color: #000;
          border: solid 2px;
          padding: 5px 15px;
        }
      }  
    }

    .btn-box {
      height: 100px;
      font-size: 20px;
      text-align: center;
      letter-spacing: 3px;
      line-height: 50px;
      display: flex;
      justify-content: center;
      .register-btn {
        background-color: #04a711;
        height: 50px;
        width: 180px;
        color: #eeeeee;
        margin-right: 60px;
        border: outset 2px;
        border-radius: 20px;
        cursor: pointer;
        &:hover {
          background-color: #05800f;
        }  
      }
      a { 
        color: #eeeeee;
        background-color: black;
        height: 50px;
        width: 130px;
        border: outset 2px;
        border-radius: 20px;
        cursor: pointer;
        &:hover {
          background-color: rgb(88, 83, 83);
        }
        // .return-btn {
          // background-color: black;
          // height: 50px;
          // width: 130px;
          // border: outset 2px;
          // border-radius: 20px;
          // cursor: pointer;
          // &:hover {
          //   background-color: rgb(88, 83, 83);
          // }  
        // }
      }  
    }

    .bottom_box {
      // background-color: hsl(271, 83%, 82%);
      height: 350px;
      width: 100%;
      .comments {

      }
    }
  
  }

  .footer {
    background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753)); 
    height: 60px;
    text-align: center;
    color: #363333;
    padding: 15px 0;
    border-top: solid 1px #dad8d8;
    .logo {
      height: 10px;
      font-size: 20px;
      font-family: fantasy;
    }
    .sub {
      height: 10px;
      margin-top: 13px;
      font-size: 6px;
    }
    
  }  
}

a {
  text-decoration: none;
}


