* {
  box-sizing: border-box;
}
 
.main-display {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  .main-header {
    background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753));
    height: 110px;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;                         
    &__logo-box { 
      height: 50px;  
      width: 200px;
      color: white;
      font-size: 35px;
      font-family: fantasy;
      letter-spacing: 1px;
      padding-top: 10px;
      margin: 0 auto;
      cursor: pointer;
    }  
    &__conent__box {
      margin-top: 28px;
      font-size: 15px;
      letter-spacing: 2px;
      display: flex;
      justify-content: center;
      &__text {
        color: silver;
        margin: 0 80px;
        cursor: pointer;
        a {
          color: silver;
          &:hover {
            color: black;
            font-weight: bold;
            text-decoration: underline;
          }
        }  
        &:hover {
          color: black;
          font-weight: bold;
          text-decoration: underline;
        }
      }  
    }   
  }
  .middle-display  {  
    height: calc(100vh - 170px);
    background-image: url(https://cdn.pixabay.com/photo/2014/10/14/20/14/library-488678_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    .introduction_box {
      background-color: rgba(207, 241, 248, 0.151);
      height: 500px;
      width: 490px;
      margin-left: 100px;
      padding: 20px;
      border: 1px;
      border-radius: 15px; 
      .logo {
        height: 50px;  
        width: 200px;
        color: white;
        font-size: 35px;
        font-family: fantasy;
        letter-spacing: 1px;
        margin: 15px 0 20px 15px;
      }
      .text {
        color: #ffffff;
        font-size: 18px;
        // font-weight: bold;
      }
      .btn_box {
        margin-top: 30px;
        display: flex;
        justify-content: center;
      a {   
        .app_btn { 
          color: #eeeeee;
          background-color: black;
          height: 45px;
          width: 130px;
          text-align: center;
          line-height: 45px;
          margin: 30px 40px 0 0;
          border: outset 2px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            background-color: rgb(88, 83, 83);
          }
        }
        .description_btn {
          color: #eeeeee;
          background-color: black;
          height: 45px;
          width: 130px;
          text-align: center;
          line-height: 45px;
          margin-top: 30px;
          border: outset 2px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            background-color: rgb(88, 83, 83);
          }
      }
      }
      }
    }
  }
      
    
  
  .footer {
    background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753)); 
    height: 60px;
    text-align: center;
    color: #363333;
    padding: 15px 0;
    border-top: solid 1px #dad8d8;
    .logo {
      height: 10px;
      font-size: 20px;
      font-family: fantasy;
    }
    .sub {
      height: 10px;
      margin-top: 13px;
      font-size: 6px;
    }
  }  
}

a {
  color:#ffffff;
}