* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  .mypage-side {
    // background-image: url(https://www.pakutaso.com/shared/img/thumb/N845_mokumetex_TP_V.jpg);
    // background-image: url(https://www.pakutaso.com/shared/img/thumb/PPP_mokumecyou_TP_V.jpg);
    background-image: url(https://cdn.pixabay.com/photo/2016/07/30/20/52/vintage-1557993_1280.jpg);
    // background-image: url(https://cdn.pixabay.com/photo/2016/03/15/02/42/floor-1256804_1280.jpg);
    // background-image: url(https://www.pakutaso.com/shared/img/thumb/PPP_mokumecyou_TP_V.jpg);
    // background-size: 1100%;
    // background:linear-gradient(#F89174, #FFC778);
    background-size: 400%; 
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
    border: outset 2px; 
    height: 1320px;
    width: 260px;
    overflow: scroll;
    .contents-var {
      height: 100%;
      padding: 20px;
      text-align: center;
      .contents {
        font-weight: bold;
        margin-bottom: 40px;
        a { 
          .my-page-btn {
            background-color: white;
            color: rgb(11, 54, 29);
            font-family: Papyrus;
            font-size: 30px;
            margin: 40px 0 100px;
            border: outset #ffffff 4px;
            border-radius: 3px;
            cursor: pointer;
          }
        }
        a { 
          color: black;
          .content-btn { 
            height: 55px;
            width: 180px;
            font-size: 20px;
            font-family: 游明朝体;
            border: outset white;
            border-radius: 15px;
            margin: 0 auto;
            margin-bottom: 100px;
            cursor: pointer;
            &:hover {
              background-color: #FFF;
            }
            background: linear-gradient(rgb(63, 152, 248), rgba(28, 233, 216, 0.815));
            .content-name {          
            }
            .content-sub-name {
              color: #434A54;
              font-size: 13px;
            } 
          }
        }       
        
      }
    }
    }
    .MainDisplay {
      width: calc(100% - 260px);
      .MainHeader {
        background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753));
        height: 110px;
        width: 1530px;
        padding: 0 40px;
        border-bottom: solid 1px #eeeeee;                         
        .logo-box { 
          height: 50px;  
          width: 200px;
          color: white;
          font-size: 35px;
          font-family: fantasy;
          letter-spacing: 1px;
          padding-top: 10px;
          margin: 0 auto;
          cursor: pointer;
        }  
        .conent-list {
          margin-top: 28px;
          font-size: 15px;
          letter-spacing: 2px;
          display: flex;
          justify-content: center;
          &__item {
            color: silver;
            margin: 0 70px;
            cursor: pointer;
            a {
              color: silver;
              &:hover {
                color: black;
                font-weight: bold;
                text-decoration: underline;
              }
            }  
            &:hover {
              color: black;
              font-weight: bold;
              text-decoration: underline;
            }
          }  
        }   
      }          
      .MainSecondHeader_ma {
        background: linear-gradient(rgba(248, 249, 250, 0.801), rgba(152, 160, 124, 0.575));     
        height: 50px;
        width: 100%;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px #eeeeee; 
        .name-box_ma {
          height: 50px;
          width: 530px;
          margin: 7px 0 0 0;
          .user-name_ma {
            height: 35px;
            font-size: 15px;
            line-height: 35px;
            text-align: center;
            border: outset 2px;
            padding: 0 15px;
          }
        }  
        .search-box_ma {
          width: 100%;
          margin: -2px -20px 10px 280px;
          display: flex;
          position: relative;
          &__input_ma {
            background-color: #ffffff;
            height: 35px;
            width: 350px;
            color: #555555;
            font-size: 14px;
            margin: 8px 0 5px;
            padding: 0 90px 0 20px;
            border: inset #eeeeee 2px;
            border-radius: 20px;
            line-height: 35px;
          }  
          .search-btn_ma {
            background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753));
            font-size: 13px;
            color: #ffffff;
            margin-top: 15px;
            padding: 0 10px;
            border: outset thin;
            border-radius: 5px;
            position: absolute;
            left: 285px;
            &:hover {
            opacity: 0.7;
            }
          }  
        }
        .social-box_ma {          
          width: 1200px;
          padding: 11px 0 0 150px;
          .social-btn__facebook {
            color: #ffffff;
            font-size: 15px;
            text-decoration: none;
            background-color: #4169e1;
            border-radius: 3px;
            padding: 4px 8px;
            &:hover {
              opacity: 0.7;
            }  
          }
          .social-btn__twitter {
            color: #ffffff;
            font-size: 15px;
            text-decoration: none;
            background-color: #00bfff;
            margin: 0 15px;
            border-radius: 3px;
            padding: 4px 8px;
            &:hover {
              opacity: 0.7;
            }
          }
          .social-btn__instagram {
            color: #ffffff;
            font-size: 15px;
            text-decoration: none;
            background-color: #fc76bf;
            border-radius: 3px;
            padding: 4px 8px;
            &:hover {
              opacity: 0.7;
            }      
          }
        } 
      }
      .MainRegisters {
        height: 1100px;
        background-image: url(https://cdn.pixabay.com/photo/2012/12/24/08/39/backdrop-72250_1280.jpg);
        background-size: cover;
        box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295);  
        .Registers-box {
          height: 100%;
          width: 100%;         
          padding: 20px 80px; 
            .Registers-top {  
              height: 30px;
              display: flex;
              margin: 25px 0 50px 0;
              .title {
                font-family: ヒラギノ明朝 ProN;
                letter-spacing: 5px;
                font-size: 22px;
                line-height: 30px;
                padding: 0 12px 0 12px;
                display: flex;
                &__icon {
                  margin-right: 5px;
                }
              }       
              .tag-box {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
                margin: 5px 0 0 30px;
                display: flex;
                
                &__left {
                  width: 65px;
                  text-align: center;
                  border: outset 1px;
                  background-color: rgb(238, 238, 238);
                  padding: 3px 5px 0 5px;
                  cursor: pointer;
                  &:hover {
                    background-color: black;
                    color: #FFF;
                  }
                }
                &__center {
                  width: 65px;
                  text-align: center;
                  margin: 0 10px;
                  border: outset 1px;
                  color: #FFF;
                  background-color: rgb(255, 115, 0);
                  padding: 3px 5px 0 5px;
                  cursor: pointer;
                  &:hover {
                    background-color: #FFF;
                    color:rgb(255, 115, 0);
                  }
                }
                &__right {
                  width: 80px;
                  text-align: center;
                  border: outset 1px;
                  color: #FFF;
                  background-color: rgb(1, 88, 122);
                  padding: 3px 5px 0 5px;
                  cursor: pointer;
                  &:hover {
                    background-color: #FFF;
                    color: rgb(1, 88, 122);
                  }
                }
              }
              .genre-box {
                background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753));
                width: 240px;
                height: 30px;
                font-size: 13px;
                border-radius: 3px;
                display: flex;
                justify-content: center;
                margin-left: 30px;
                .name {
                  color:  #ffffff;            
                  line-height: 33px;
                  margin-right: 10px;
                }
                .select-box {
                  margin-top: 5px;
                  font-size: 13px;
                  line-height: 25px;
                }
              }
            }
            .books-box {
              display: flex;
              flex-wrap: wrap;
              .book-list {
                background: linear-gradient(rgba(186, 192, 199, 0.733), rgba(185, 205, 218, 0.575));
                height: 250px;
                width: 180px;
                margin: 22px 43px;
                box-shadow: 0 8px 15px 8px rgba(0, 0, 0, 0.295); 
                cursor: pointer;
                &:hover {
                  opacity: 0.8;
                }     
                .book-image {
                  height: 190px;
                  padding: 4px 14px;
                  position: relative;
                  img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                  }
                  .book-genre-tag {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 20px;
                    width: 70px;
                    background-color: slateblue;
                    font-size: 11px;     
                    text-align: center;
                    color: #fff;
                    img {
                      width: 96px;
                      height: 65px;
                    }
                  }
                  .book-status {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 2;
                    border-top: 30px solid #4ca53ad7;
                    border-right: 30px solid #4ca53ad7;
                    border-bottom: 30px solid transparent;
                    border-left: 30px solid transparent;
                    &__title {
                      color: white;
                      font-weight: bold;
                      position: absolute;
                      top: -18px;
                      left: -10px;
                      width: 40px;
                      font-size: 10px;
                      transform: rotate(45deg);
                      text-align: center;
                    }
                  }
                }
                .book-title {
                  height: 60px;
                  background-color: #ffffff;
                  color: #000000;
                  line-height: 60px;
                  font-size: 16px;
                  font-family: クレー;
                  padding: 0 13px;
                  text-align: center;
                  overflow: hidden;
                }
              }           
            }
            .pages { 
              width: 100px;
              font-size: 15px;
              margin: 0 auto 15px;
              text-align: center;
              border: inset;
              background-color: mintcream;
            }
            
        }
      }
   }
}
.footer {
  background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753)); 
  height: 60px;
  width: 100%;
  text-align: center;
  color: #363333;
  padding: 15px 0;
  border-top: solid 1px #dad8d8;
  .logo {
    height: 10px;
    font-size: 20px;
    font-family: fantasy;
  }
  .sub {
    height: 10px;
    margin-top: 13px;
    font-size: 6px;
  }
  
}  

.wrapper a {
  text-decoration: none;
}



