* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
  .mypage-side {
    background-image: url(https://cdn.pixabay.com/photo/2016/07/30/20/52/vintage-1557993_1280.jpg);
    background-size: 400%;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
    border: outset 2px; 
    height: 1320px;
    width: 260px;
    overflow: scroll;
    .contents-var {
      height: 100%;
      padding: 20px;
      text-align: center;
      .contents {
        font-weight: bold;
        margin-bottom: 40px;
        a {
          text-decoration: none; 
          .content-btn_my {
            height: 55px;
            width: 180px;
            font-family: serif;
            background: linear-gradient(rgb(63, 152, 248), rgba(28, 233, 216, 0.815));
            font-size: 22px;
            line-height: 48px;
            margin: 40px auto 92px;
            border: outset #ffffff ;
            border-radius: 15px;
            cursor: pointer;
            &:hover {
              background-color: #FFF;
              color: #fff;
              width: 190px;
              transition: .1s;
            }
          }
        }
        a { 
          color: black;
          .content-btn {
            height: auto;
            width: 180px;
            font-size: 20px;
            font-family: 游明朝体;
            border: outset white;
            border-radius: 15px;
            margin: 0 auto;
            margin-bottom: 92px;
            cursor: pointer;
            background: linear-gradient(rgb(63, 152, 248), rgba(28, 233, 216, 0.815));
            &:hover {
              background-color: #FFF;
              color: #fff;
              width: 190px;
              transition: .1s;
            }
            .content-sub-name {
              color: #434A54;
              font-size: 13px;
            } 
          }
        }       
      }
    }
    }
    .MainDisplay {
      width: calc(100vw - 260px);
      .MainHeader_top {
        background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753));
        height: 110px;
        padding: 0 240px;
        border-bottom: solid 1px #eeeeee;                         
        .logo-box { 
          height: 50px;  
          width: 200px;
          color: white;
          font-size: 35px;
          font-family: fantasy;
          letter-spacing: 1px;
          padding-top: 10px;
          margin: 0 auto;
          cursor: pointer;
          a {
            color: #FFF;
            text-decoration: none; 
          }
        }  
        .conent-list {
          margin-top: 28px;
          font-size: 15px;
          letter-spacing: 2px;
          display: flex;
          justify-content: space-evenly;
          &__item {
            color: silver;
            cursor: pointer;
            a {
              color: silver;
              &:hover {
                color: black;
                font-weight: bold;
              }
            a .log-out_btn {
              padding-bottom: -1px;
            }
            }  
          }  
        }   
      }          
      .MainSecondHeader_ma {
        background: linear-gradient(rgba(248, 249, 250, 0.801), rgba(152, 160, 124, 0.575));     
        height: 50px;
        padding: 0 60px;
        display: flex;
        justify-content: space-around;
        border-bottom: solid 1px #eeeeee; 
        .name-box_ma {
          height: 50px;
          width: fit-content;
          margin: 7px 0 0 0;
          display: flex;
          .name-label {
            line-height: 36px;
            margin-right: 10px;
          }
          .user-name_ma {
            height: 35px;
            width: 180px;
            font-size: 15px;
            line-height: 35px;
            text-align: center;
            border: inset 2px;
            border-radius: 5px;
            padding: 0 15px;
          }
        }  
        .search-box_ma {
          display: flex;
          margin: -2px 0;
          position: relative;
          &__input_ma {
            background-color: #ffffff;
            height: 35px;
            width: 350px;
            color: #555555;
            font-size: 14px;
            margin: 8px 0 5px;
            padding: 0 90px 0 20px;
            border: inset #eeeeee 2px;
            border-radius: 20px;
            line-height: 35px;
          }  
          .search-btn_ma {
            background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753));
            font-size: 14px;
            color: #ffffff;
            padding: 0 10px;
            border: outset thin;
            border-radius: 5px;
            line-height: 24px;
            height: 24px;
            position: absolute;
            top: 15px;
            left: 285px;
            &:hover {
            opacity: 0.7;
            transition: .3s;
            }
          }  
        }
        .social-box_ma {          
          padding: 11px 0;
          align-items: center;
          display: flex;
          .social-btn__facebook {
            color: #ffffff;
            font-size: 18px;
            text-decoration: none;
            background-color: #4169e1;
            border-radius: 3px;
            padding: 2px 8px;
            height: fit-content;
            text-align: center;
            &:hover {
              opacity: 0.7;
              transition: .3s;
            }  
          }
          .social-btn__twitter {
            color: #ffffff;
            font-size: 18px;
            text-decoration: none;
            background-color: #00bfff;
            margin: 0 15px;
            border-radius: 3px;
            padding: 2px 8px;
            height: fit-content;
            text-align: center;
            &:hover {
              opacity: 0.7;
              transition: .3s;
            }
          }
          .social-btn__instagram {
            color: #ffffff;
            font-size: 18px;
            text-decoration: none;
            background-color: #fc76bf;
            border-radius: 3px;
            padding: 2px 8px;
            height: fit-content;
            text-align: center;
            &:hover {
              opacity: 0.7;
              transition: .3s;
            }      
          }
        } 
      }
      .MainRegisters {
        height: 1100px;
        background-image: url(https://cdn.pixabay.com/photo/2012/12/24/08/39/backdrop-72250_1280.jpg);
        background-size: cover;
        box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295);  
        .Registers-box_top {
          height: 100%;     
          padding: 20px 100px;
          .Registers-top {
            background-color: #ffffff;
            height: 40px;
            border: outset #FFF 1px;
            border-radius: 5px;
            display: flex;
            margin: 25px auto 50px;
            padding: 5px 10px 5px 5px;
            .title {
              font-family: ヒラギノ明朝 ProN;
              letter-spacing: 5px;
              font-size: 22px;
              line-height: 27px;
              margin: 0 auto;
              padding: 0 12px 0 12px;
              display: flex;
              &__name {
                margin: 0 30px 0 20px;
              }
              &__sub {
                color: #01355f;
                font-size: 20px;
                line-height: 30px;
                line-height: 27px;
                letter-spacing: 7px;
              }
              &__result {
                font-size: 20px;
                line-height: 27px;
                letter-spacing: 3px;
                margin-left: 20px;
              }
              &__count {
                font-size: 20px;
                line-height: 27px;
                letter-spacing: 7px;
                margin-left: 5px;
              }
              &__num {
                font-size: 20px;
                line-height: 27px;
                letter-spacing: 7px;
              }
            }      
          }
          .books-box {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .book-list {
              background: linear-gradient(rgba(186, 192, 199, 0.733), rgba(185, 205, 218, 0.575));
              height: 250px;
              width: 180px;
              box-shadow: 0 8px 15px 8px rgba(0, 0, 0, 0.295); 
              cursor: pointer;
              &:hover {
                opacity: 0.8;
              }
              a {
                text-decoration: none; 
              }
              .book-image {
                height: 190px;
                padding: 4px 14px;
                position: relative;
                img {
                  height: 100%;
                  width: 100%;
                  object-fit: contain;
                }
                .book-genre-tag {
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 20px;
                  width: 75px;
                  font-size: 11px;
                  line-height: 20px;
                  text-align: center;
                  color: #fff;
                  img {
                    width: 96px;
                    height: 65px;
                  }
                }
                .book-status {
                  position: absolute;
                  top: 0;
                  right: 0;
                  z-index: 2;
                  border-top: 30px solid #4ca53ad7;
                  border-right: 30px solid #4ca53ad7;
                  border-bottom: 30px solid transparent;
                  border-left: 30px solid transparent;
                  &__title {
                    color: white;
                    font-weight: bold;
                    position: absolute;
                    top: -18px;
                    left: -10px;
                    width: 40px;
                    font-size: 10px;
                    transform: rotate(45deg);
                    text-align: center;
                  }
                }
              }
              .book-title {
                height: 60px;
                background-color: #ffffff;
                color: #000000;
                line-height: 60px;
                font-size: 16px;
                font-family: クレー;
                padding: 0 13px;
                text-align: center;
                overflow: hidden;
              }
            }           
          }
        }
      }
   }
}

.mypage-side_2 {
  background-image: url(https://cdn.pixabay.com/photo/2016/07/30/20/52/vintage-1557993_1280.jpg);
  background-size: 400%;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
  border: outset 2px; 
  height: 1320px;
  width: 260px;
  overflow: scroll;
  .contents-var_2 {
    height: 100%;
    padding: 20px;
    text-align: center;
    .contents_2 {
      font-weight: bold;
      margin-bottom: 40px;
      .content-btn_my_2 {
        position: relative;
        .item_my {
          height: 55px;
          width: 180px;
          font-family: serif;
          background: linear-gradient(rgb(63, 152, 248), rgba(28, 233, 216, 0.815));
          font-size: 22px;
          line-height: 48px;
          margin: 40px auto 92px;
          border: outset #ffffff ;
          border-radius: 15px;
          cursor: pointer;
          &:hover {
            background-color: #FFF;
            color: #fff;
            width: 190px;
            transition: .1s;
          }
        }
      }
      .content-btn_2 { 
        height: 55px;
        width: 180px;
        font-size: 20px;
        font-family: 游明朝体;
        border: outset white;
        border-radius: 15px;
        margin: 0 auto;
        margin-bottom: 92px;
        cursor: pointer;
        background: linear-gradient(rgb(63, 152, 248), rgba(28, 233, 216, 0.815));
        &:hover {
          background-color: #FFF;
          color: #fff;
          width: 190px;
          transition: .1s;
        }
        .content-name {
          background-color: rgba(255, 255, 255, 0);
          border: none;
        }
        .content-sub-name {
          color: #434A54;
          
          font-size: 13px;
        }
      }
    }
  }
}

.footer_top {
  background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753)); 
  height: 60px;
  text-align: center;
  color: #363333;
  padding: 15px 0;
  border-top: solid 1px #dad8d8;
  .logo_top {
    height: 10px;
    font-size: 20px;
    font-family: fantasy;
  }
  .sub_top {
    height: 10px;
    margin-top: 13px;
    font-size: 6px;
  }
}

.contents-top {
  display: flex;
}


li.genre {
  width: 88px;
  color: #FFF;
  font-size: 11px;
  text-align: center;
  margin: 0 3px;
  padding: 3px 3px;
  border: outset thin;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295);  
  &:hover {
    opacity: 0.7;
    transition: .3s;
  }
}

.book-none {
  background-color: #FFF;
  font-size: 20px;
  border: outset #eeeeee 3px;
  margin: 200px auto 0;
  padding: 50px 300px;
}

.business {
  background-color: #6a2b8f;
}
.self_enlightenment {
  background-color: #305ab4;
}
.money {
  background-color: #cfc203;
}
.politics_economy {
  background-color: #7e3d00;
}
.study_skill {
  background-color: #006d88;
}
.cooking {
  background-color: #f04400;
}
.hobby {
  background-color: #d30023;
}
.health {
  background-color: #006408;
}
.sports {
  background-color: #00aaa2;
}
.entertainment {
  background-color: #351dc0;
}
.parenting {
  background-color: #ce43a0;
}
.novel {
  background-color: #c27400;
}
.comic {
  background-color: #30a761;
}
.life {
  background-color: #992929;
}
.genre_etc {
  background-color: #575757;
}
.wrapper a {
  text-decoration: none;
}



