* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
  // サイド部
  .mypage-side {
    // background-image: url(https://www.pakutaso.com/shared/img/thumb/N845_mokumetex_TP_V.jpg);
    // background-image: url(https://www.pakutaso.com/shared/img/thumb/PPP_mokumecyou_TP_V.jpg);
    background-image: url(https://cdn.pixabay.com/photo/2016/07/30/20/52/vintage-1557993_1280.jpg);
    // background-image: url(https://cdn.pixabay.com/photo/2016/03/15/02/42/floor-1256804_1280.jpg);
    // background-image: url(https://www.pakutaso.com/shared/img/thumb/PPP_mokumecyou_TP_V.jpg);
    // background-size: 1100%;
    // background:linear-gradient(#F89174, #FFC778);
    background-size: 650%; 
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
    border: outset 2px; 
    width: 260px;
    height: 100%;
    overflow: scroll;
    .contents-var {
      height: 100%;
      padding: 20px;
      text-align: center;
      .contents {
        font-weight: bold;
        margin-bottom: 40px;
        .title {
          background-color: white;
          // color: white;
          color: rgb(27, 53, 59);
          font-family: Papyrus;
          font-size: 30px;
          margin: 60px 0 80px;
          border: inset 2px;
        }
        .register-book {
          width: 180px;
          margin: 0 auto;
          font-family: 游明朝体;
          font-size: 20px;
          margin-bottom: 60px;
          border: outset;
          border-radius: 15px;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }  
          background: linear-gradient(rgb(63, 152, 248), rgba(28, 233, 216, 0.815));   
          &__sub-name  {
            color: #434A54;           
            font-size: 13px;
          }
        }
        .registered-book {
          width: 180px;
          margin: 0 auto;
          font-family: 游明朝体;
          font-size: 20px;
          margin-bottom: 60px;
          border: outset;
          border-radius: 15px;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }  
          background: linear-gradient(rgb(63, 152, 248), rgba(28, 233, 216, 0.815));  
          &__sub-name {
            color: #434A54;
            font-size: 13px;
          }
        }
        .category {
          width: 180px;
          margin: 0 auto;
          font-family: 游明朝体;
          font-size: 20px;
          margin-bottom: 60px;
          border: outset;
          border-radius: 15px;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }  
          background: linear-gradient(rgb(63, 152, 248), rgba(28, 233, 216, 0.815));   
          &__sub-name {
            color: #434A54;
            font-size: 13px;
          }
        }
        .status {
          width: 180px;
          margin: 0 auto;
          font-family: 游明朝体;
          font-size: 20px;
          margin-bottom: 60px;
          border: outset;
          border-radius: 15px;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }  
          background: linear-gradient(rgb(63, 152, 248), rgba(28, 233, 216, 0.815));   
          &__sub-name {
            color: #434A54;
            font-size: 13px;
          }
        }
        .reading-history {
          width: 180px;
          margin: 0 auto;
          font-family: 游明朝体;
          font-size: 20px;
          margin-bottom: 60px;
          border: outset;
          border-radius: 15px;
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }  
          background: linear-gradient(rgb(63, 152, 248), rgba(28, 233, 216, 0.815));  
          &__sub-name {
            color: #434A54;
            font-size: 13px;
          }
        }

        

      }
    }
    }
    .main-display {
      background-color: #ffffff;
      height: 100vh;
      width: calc(100vw - 260px);
      .main-header {
        background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753));
        height: 110px;
        padding: 0 40px;
        border-bottom: solid 1px #eeeeee;                         
          &__logo-box { 
            height: 50px;  
            width: 200px;
            color: white;
            font-size: 35px;
            font-family: fantasy;
            letter-spacing: 1px;
            padding-top: 10px;
            margin: 0 auto;
            cursor: pointer;
          }  
        &__conent__box {
          margin-top: 28px;
          font-size: 15px;
          letter-spacing: 2px;
          display: flex;
          justify-content: space-around;
          &__text {
            color: silver;
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }  
            // &__2 {
            //   color: silver;
            //   cursor: pointer;
            //   &:hover {
            //     text-decoration: underline;
            //   }              
            // }
            // &__3 {
            //   color: silver;
            //   cursor: pointer;
            //   &:hover {
            //   text-decoration: underline;
            //   }           
            // }
            // &__4 {
            //   color: silver;
            //   cursor: pointer;
            //   &:hover {
            //     text-decoration: underline;
            //   }
            // }
            // &__5 {
            //   color: silver;
            //   cursor: pointer;
            //   &:hover {
            //     text-decoration: underline;
            //   }
            // }
          
        }   
      }          
      .main-second-header {
        background: linear-gradient(rgba(248, 249, 250, 0.801), rgba(152, 160, 124, 0.575));     
        height: 50px;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px #eeeeee; 
        line-height: 50px;
        &__user-name {
          height: 30px;
          width: 170px;
          font-size: 15px;
          line-height: 30px;
          text-align: center;
          border: outset 2px;
          margin: 10px 0 0 50px;
        }
        &__content__search-box {
          width: 450px;
          margin-left: 100px;
          padding: 0 20px;
        }
        &__content__btn-box {          
          width: 500px;
          padding-left: 120px;
          &--icon{
            padding-right:20px;
          }
          .content__btn__facebook {
            color: #ffffff;
            font-size: 15px;
            text-decoration: none;
            background-color: #4169e1;
            border-radius: 3px;
            padding: 4px 8px;
            &:hover {
              opacity: 0.7;
            }  
          }
          .content__btn__twitter {
            color: #ffffff;
            font-size: 15px;
            text-decoration: none;
            background-color: #00bfff;
            margin: 0 15px;
            border-radius: 3px;
            padding: 4px 8px;
            &:hover {
              opacity: 0.7;
            }
          }
          .content__btn__instagram {
            color: #ffffff;
            font-size: 15px;
            text-decoration: none;
            background-color: #fc76bf;
            border-radius: 3px;
            padding: 4px 8px;
            &:hover {
              opacity: 0.7;
            }      
          }
        } 
      }
      .main-registers {
        height: calc(100vh - 160px);
        background-image: url(https://cdn.pixabay.com/photo/2012/12/24/08/39/backdrop-72250_1280.jpg);
        .registers-box {
          height: 100%;         
          padding: 20px 80px; 
            .title-box {  
              height: 30px;
              display: flex;
              margin-bottom: 25px;
              .title {
                font-family: ヒラギノ明朝 ProN;
                letter-spacing: 5px;
                font-size: 22px;
                line-height: 30px;
                padding: 0 12px 0 12px;
                border: outset 1px;
                background-color: powderblue;
                &:hover {
                  text-decoration: underline;
                }
              }       
              .genre-tag-box {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 13px;
                margin: 5px 0 0 20px;
                display: flex;
                
                &__first {
                  width: 54px;
                  text-align: center;
                  border: outset 1px;
                  background-color: white;
                  padding: 3px 5px 0 5px;
                  cursor: pointer;
                  &:hover {
                    opacity: 0.7;
                  }    
                }
                &__second {
                  width: 54px;
                  text-align: center;
                  margin: 0 10px;
                  border: outset 1px;
                  color: white;
                  background-color: #434A54;
                  padding: 3px 5px 0 5px;
                  cursor: pointer;
                  &:hover {
                    opacity: 0.7;
                  }    
                }
                &__third {
                  width: 54px;
                  text-align: center;
                  border: outset 1px;
                  color: white;
                  background-color: black;
                  padding: 3px 5px 0 5px;
                  cursor: pointer;
                  &:hover {
                    opacity: 0.7;
                  }    

                }
              }
            }
            .books-box-top {
              height: 300px;
              padding: 10px;
              display: flex;
              justify-content: space-around;
              .book-list {
                background: linear-gradient(rgba(186, 192, 199, 0.733), rgba(185, 205, 218, 0.575));
                height: 250px;
                width: 180px;
                cursor: pointer;
                box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2); 
                &:hover {
                  opacity: 0.8;
                }            
                .book-image {
                  background-image: url(https://images-na.ssl-images-amazon.com/images/I/51jPX80edlL._SX352_BO1,204,203,200_.jpg);
                  background-size: 100%;
                  height: 190px;
                  padding: 20px;
                  position: relative;
                  .book-category-tag {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 20px;
                    width: 70px;
                    background-color: slateblue;
                    font-size: 11px;     
                    text-align: center;
                    color: #fff;                   
                  }
                  .book-status {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 2;
                    border-top: 30px solid #4ca53ad7;
                    border-right: 30px solid #4ca53ad7;
                    border-bottom: 30px solid transparent;
                    border-left: 30px solid transparent;
                    &__title {
                      color: white;
                      font-weight: bold;
                      position: absolute;
                      top: -18px;
                      left: -10px;
                      width: 40px;
                      font-size: 12px;
                      transform: rotate(45deg);
                    }
                  }
                }
                .book-title {
                  height: 60px;
                  background-color: #ffffff;
                  line-height: 60px;
                  font-family: クレー;
                  padding: 0 13px;
                  text-align: center;
                }
              }           
            }
            .books-box-bottom {
              height: 300px;
              padding: 10px;
              display: flex;
              justify-content: space-around;
              .book-list {
                background: linear-gradient(rgba(186, 192, 199, 0.733), rgba(185, 205, 218, 0.575));
                height: 250px;
                width: 180px;
                box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2); 
                cursor: pointer;
                &:hover {
                  opacity: 0.8;
                }                 
                .book-image {
                  background-image: url(https://images-na.ssl-images-amazon.com/images/I/51jPX80edlL._SX352_BO1,204,203,200_.jpg);
                  background-size: 100%;
                  height: 190px;
                  padding: 20px;
                  position: relative;
                  .book-category-tag {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 20px;
                    width: 70px;
                    background-color: slateblue;
                    font-size: 11px;     
                    text-align: center;
                    color: #fff;                   
                  }
                  .book-status {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 2;
                    border-top: 30px solid #4ca53ad7;
                    border-right: 30px solid #4ca53ad7;
                    border-bottom: 30px solid transparent;
                    border-left: 30px solid transparent;
                    &__title {
                      color: white;
                      font-weight: bold;
                      position: absolute;
                      top: -18px;
                      left: -10px;
                      width: 40px;
                      font-size: 12px;
                      transform: rotate(45deg);
                    }
                  }
                }
                .book-title {
                  height: 60px;
                  background-color: #ffffff;
                  line-height: 60px;
                  font-family: クレー;
                  padding: 0 13px;
                  text-align: center;
                }
              }
               
            }
            .bottom-space {
              height: 27px;
              .pages { 
                width: 100px;
                font-size: 17px;
                margin: 0 auto;
                text-align: center;
                line-height: 27px;
                border: inset;
                background-color: mintcream;
              }
            }
        }
      }





  //   .form {
  //     background-color: #d2d2d2;
  //     height: 90px;
  //     padding: 20px 40px;
  //       .new_message {
  //         display: flex; 
  //         .input-box {
  //           height: 50px; 
  //           width: 100%;
  //           margin-right: 15px;
  //           display: flex;
  //           position: relative;          
  //           &__text {
  //             width: 100%;
  //             color: grey;
  //             padding: 0 40px 0 10px;
  //           }
  //           &__image {
  //             position: absolute;
  //             right: 10px;
  //             line-height: 50px;
  //             font-size: 25px;
  //             .fa-image:before {
  //               cursor: pointer;
  //             } 
  //             .hidden {
  //               display: none;
  //            }
  //           } 
  //         }  
  //         .submit-btn {
  //           background-color: #38aef0;
  //           width: 100px;
  //           height: 50px;
  //           padding: 0 30px;
  //           text-align: center;
  //           color: white;
  //           cursor: pointer;
  //        }     
  //       }
  //  }

  }
}

.chat-side a {
  color: #ffffff;
  text-decoration: none;
}