* {
  box-sizing: border-box;
}
 
.SearchDisplay {
  height: 100%;
  .Search-box {
    height: auto;
    display: block;
    .title-box_sea {
      font-family: ヒラギノ明朝 ProN;
      letter-spacing: 5px;
      font-size: 25px;
      line-height: 30px;
      padding: 40px 150px 0 200px;
      display: flex;
      .icon {
        margin-right: 20px;
      }
      .search__count {
        margin-left: 15px;
      }
      .pagination {
        font-size: 20px;
        margin: 0 auto;
        display: block;
        letter-spacing: 0vmax;
      }
    }
    .books-area_s {
      background-color: #ffffff;
      height: auto;
      margin-bottom: 300px;
      padding: 50px 50px 20px 120px;
      display: flex;
      flex-wrap: wrap;
      .book-list_s {
        background: linear-gradient(rgba(186, 192, 199, 0.733), rgba(185, 205, 218, 0.575));
        height: 250px;
        width: 180px;
        margin: 30px 2.2vw 15px;
        box-shadow: 0 8px 15px 8px rgba(0, 0, 0, 0.295); 
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
        a {
          text-decoration: none;
        }
        .book-image {
          height: 190px;
          padding: 4px 14px;
          position: relative;
          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
          .book-genre-tag {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 75px;
            font-size: 11px; 
            line-height: 20px;    
            text-align: center;
            color: #fff;
            img {
              width: 96px;
              height: 65px;
            }                   
          }
        }
        .book-title {
          height: 60px;
          background-color: #ffffff;
          color: #000000;
          line-height: 60px;
          font-size: 16px;
          font-family: クレー;
          padding: 0 13px;
          text-align: center;
          overflow: hidden;
        }
      }                        
    }
  }

  .search-book-none { 
    font-size: 22px;
    margin: 0 auto;
    margin: 60px auto 172px;
  }  

  .bottom-space {
    height: 100px;
    display: flex;
    .pages { 
      height: 30px;
      width: 100px;
      font-size: 17px;
      margin: 30px 560px 0 766px;
      text-align: center;
      line-height: 30px;
      border: inset;
      background-color: mintcream;
    }
  }
}

a {
  text-decoration: none;
}
