* {
  box-sizing: border-box;
}
 
.BookNew {
  .title-box_bn { 
    font-family: ヒラギノ明朝 ProN;
    letter-spacing: 5px;
    font-size: 25px;
    line-height: 30px;
    padding: 40px 0 0 200px;
    display: flex;
    .icon {
      margin-right: 20px;
    }
  }
  .form {
    height: calc(100vh - 270px);
    font-family: ヒラギノ明朝 ProN;
    font-size: 13px;
    padding: 0 150px;
    .registers-box {
      display: flex;
      justify-content: center;
      .Left-side { 
        padding: 30px 80px 0 0;
        .Left-upper_form {
          height: 270px;
          margin-bottom: 30px;
          display: flex;
          .image-form {
            height: 270px;
            width: 190px;
            border: outset 3px rgb(190, 199, 223);
            margin: 0 auto;
            font-size: 5px;
            line-height: 160px; 
            text-align: center;
            margin-bottom: 30px;
            padding: 2px;
            box-shadow: 0 0 15px 0 rgba(85, 85, 85, 0.295); 
            &:hover {
              opacity: 0.6;
              transition: .1s;
            }
            img {
              height: -webkit-fill-available;
              width: 100%;
              cursor: pointer;
              object-fit: cover;
            }
            .book-icon {
              object-fit: contain;
            }
            .book-image {
              height: 260px;
              width: 190px;
              .prev-contents {
                height: 260px;
                .prev-content {
                  height: 260px;
                }
              }
              .hidden { 
                height: 100%;
                width: 100%;
                display: none;
              }
            }
          }
        }
      }  
      .Right-side { 
        .upper-box_n {
          margin-bottom: 35px;
          display: flex;
        }
        .middle-box_n {
          margin-bottom: 35px;
          display: flex;
        }
        .lower-box_n {
          margin-bottom: 10px;
          display: flex;
        }
      }
      .left-input_form {
        height: 50px;
        width: 100%;
        font-size: 20px;
        border-bottom: thin solid #cccccc;
        border-top: none;
        border-right: none;
        border-left: none;
        margin-bottom: 30px;
        padding: 0 20px;
      }
      .right-select_form {
        background-color: #ffffff;
        height: 50px;
        width: 250px;
        font-size: 18px;
        border: inset #dbedf0 2px;
        border-radius: 2px;
        margin: 0 35px 0 0;
        padding: 0 30px;
      }  
    }
      .area_form {
        height: 120px;
        width: 535px;
        font-size: 14px;
        border: inset #dbedf0 2px;
        border-radius: 2px;
        margin-bottom: 20px;
        padding: 5px 15px;
        display: block;
      }
      .area_form_2 {
        height: 90px;
        width: 250px;
        font-size: 14px;
        border: inset #dbedf0 2px;
        border-radius: 2px;
        padding: 5px 15px;
        background-color: #ffffff;
      }
      .title-line {
        font-size: 14px;
        margin:0 0 5px 5px;
        display: flex;
      }
      .title-line_img {
        font-size: 14px;
        margin: -26px 0 5px 100px;
        display: flex;
      }
      .required {
        background-color: #ff0000;
        color: #ffffff;
        margin-left: 20px;
        padding: 0 6px;
        border-radius: 3px;
      }
      .optional {
        background-color: #7c7c7c;
        color: #ffffff;
        margin-left: 20px;
        padding: 0 6px;
        border-radius: 3px;
      }
      .btn-box {
        height: 100px;
        width: 535px;
        margin-top: 5px;
        padding-top: 25px;
        font-size: 20px;
        text-align: center;
        letter-spacing: 3px;
        line-height: 50px;
        display: flex;
        justify-content: space-evenly;
        .register-btn {
          background-color: rgb(50, 177, 134);
          height: 50px;
          width: 180px;
          color: #eeeeee;
          border: outset 2px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            background-color: rgba(50, 177, 135, 0.788);
            font-size: 22px;
            transition: .1s;
          }  
        }
        a.back_btn { 
          color: #eeeeee;
          background-color: #131c53;
          height: 50px;
          width: 130px;
          line-height: 46px;
          border: outset 2px;
          border-radius: 22px;
          cursor: pointer;
          &:hover {
            background-color: #131b53b6;
            text-decoration: none;
            font-size: 22px;
            transition: .1s;
          }
        } 
      }
  }
}  


a {
  text-decoration: none;
}