* {
  box-sizing: border-box;
}
 

.Search-box {
  height: auto;
  display: block;
  .title-box_sea {
    font-family: ヒラギノ明朝 ProN;
    letter-spacing: 5px;
    font-size: 25px;
    line-height: 30px;
    padding: 40px 0 0 200px;
    display: flex;
    .icon {
      margin-right: 8px;
    }          
  }
  .books-area_s {
    background-color: #ffffff;
    height: auto;
    padding: 20px 116px;
    display: flex;
    flex-wrap: wrap;
    .book-list_s {
      background: linear-gradient(rgba(186, 192, 199, 0.733), rgba(185, 205, 218, 0.575));
      height: 250px;
      width: 180px;
      margin: 30px 40px 15px;
      box-shadow: 0 8px 15px 8px rgba(0, 0, 0, 0.295); 
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }     
      .book-image {
        height: 190px;
        padding: 4px 14px;
        position: relative;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
        .book-genre-tag {
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 70px;
          background-color: slateblue;
          font-size: 11px;     
          text-align: center;
          color: #fff;
          img {
            width: 96px;
            height: 65px;
          }                   
        }
      }
      .book-title {
        height: 60px;
        background-color: #ffffff;
        color: #000000;
        line-height: 60px;
        font-size: 16px;
        font-family: クレー;
        padding: 0 13px;
        text-align: center;
        overflow: hidden;
      }
    }                        
  }
}
.bottom-space {
  height: 100px;
  display: flex;
  .pages { 
    height: 30px;
    width: 100px;
    font-size: 17px;
    margin: 30px 560px 0 766px;
    text-align: center;
    line-height: 30px;
    border: inset;
    background-color: mintcream;
  }
  a { 
    color: #eeeeee;
    background-color: black;
    height: 35px;
    width: 130px;
    text-align: center;
    line-height: 35px;
    margin-top: 30px;
    border: outset 2px;
    border-radius: 20px;
    cursor: pointer;
    &:hover {
      background-color: rgb(88, 83, 83);
    }
  }
}

a {
  text-decoration: none;
}
