* {
  box-sizing: border-box;
}
 
.MainDisplay {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  
  .form {
    height: calc(100vh - 270px);
    font-family: ヒラギノ明朝 ProN;
    font-size: 13px;
    .input-box {
      height: 100%;           
      width: 1200px;
      margin: 0 auto;
      padding: 20px;
      &__content-name {
        letter-spacing: 2px;
        font-size: 22px;
        line-height: 30px;
        display: flex;
        .icon {
          margin-right: 8px;
        }
      }       
      .book_image {
        height: 170px;
        width: 150px;
        border: outset 3px rgb(190, 199, 223);
        margin: 0 auto;
        font-size: 5px;
        line-height: 160px; 
        text-align: center;
        margin-bottom: 10px;
      }  
      .book_image-title {
        margin: 0 auto;
        font-size: 8px;
        text-align: center;
        margin-bottom: 10px;    
      }
      .input_image {
        display: block;
        font-size: 11px;
        text-align: center;
        height: 25px;
        width: 230px;
        margin: 0 auto;
        border: inset #dbedf0 2px;
        padding: 0 8px;
      }
      .book-items-box {
        height: 400px;
        margin: 0 auto;
        padding: 15px 30px;
        &__top {
          display: flex;
          justify-content: space-evenly;
          margin-bottom: 20px;
          padding: 0 50px;
          &__left {
            &__name {
              height: 20px;
              width: 100px;
              margin-right: 155px;
              margin-bottom: 30px;
            }
            .book_title {
              height: 30px;
              width: 250px;
              border: inset #dbedf0 2px;
              border-radius: 5px;
              padding: 0 8px;
            }
          }
          &__center {
            &__name {
              height: 20px;
              width: 100px;
              margin-bottom: 30px;
            }
            .book_author {
              height: 30px;
              width: 250px;
              border: inset #dbedf0 2px;
              border-radius: 5px;
              padding: 0 8px;
            }
          }
          &__right {
            &__name {
              height: 20px;
              width: 100px;
              margin-right: 155px;
              margin-bottom: 30px;
            }
            .book_status {
              background-color: white;
              height: 30px;
              width: 250px;
              border: inset #dbedf0 2px;
              padding: 0 8px;
            }
          }        
        }
        &__lower {
          display: flex;
          justify-content: space-evenly;
          margin-bottom: 20px;
          padding: 0 50px;
          &__left {
            &__name {
              height: 20px;
              width: 100px;
              margin-right: 155px;
              margin-bottom: 30px;
            }
            .book_genre {
              background-color: white;
              height: 30px;
              width: 250px;
              border: inset #dbedf0 2px;
              padding: 0 8px;
            }
          }
          &__center {
            &__name {
              height: 20px;
              width: 100px;
              margin-right: 155px;
              margin-bottom: 30px;
            }
            .book_item {
              background-color: white;
              height: 30px;
              width: 250px;
              border: inset #dbedf0 2px;
              padding: 0 8px;
            }
          }
          &__right {
            &__name {
              height: 20px;
              width: 100px;
              margin-right: 155px;
              margin-bottom: 30px;
            }
            .book_purchase-date {
              background-color: white;
              height: 30px;
              width: 250px;
              border: inset #dbedf0 2px;
              border-radius: 5px;
              padding: 0 8px;
            }
          }   
        }

        .impression-box {
          margin-left: 100px;
          padding: 0 10px;
          &__title {
          }
          .book_impression {
            height: 110px;
            width: 89%;
            border: inset #dbedf0 2px;
            padding: 0 8px;
          }
        }
      }
      .btn-box {
        height: 100px;
        margin-top: 5px;
        padding-top: 25px;
        font-size: 20px;
        text-align: center;
        letter-spacing: 3px;
        line-height: 50px;
        display: flex;
        justify-content: center;
        .register-btn {
          background-color: #04a711;
          height: 50px;
          width: 180px;
          color: #eeeeee;
          margin-right: 60px;
          border: outset 2px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            background-color: #05800f;
          }  
        }
        a { 
          color: #eeeeee;
          background-color: black;
          height: 50px;
          width: 130px;
          border: outset 2px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            background-color: rgb(88, 83, 83);
          }
        }  
      }
    }
  }  
}

a {
  text-decoration: none;
}


