* {
  box-sizing: border-box;
}
 
.MainDisplay {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  .MainHeader {
    background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753));
    height: 110px;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;                         
    .logo-box { 
      height: 50px;  
      width: 200px;
      color: white;
      font-size: 35px;
      font-family: fantasy;
      letter-spacing: 1px;
      padding-top: 10px;
      margin: 0 auto;
      cursor: pointer;
    }  
    .conent-list {
      margin-top: 28px;
      font-size: 15px;
      letter-spacing: 2px;
      display: flex;
      justify-content: center;
      &__item {
        color: silver;
        margin: 0 70px;
        cursor: pointer;
        a {
          color: silver;
          &:hover {
            color: black;
            font-weight: bold;
            text-decoration: underline;
          }
        }  
        &:hover {
          color: black;
          font-weight: bold;
          text-decoration: underline;
        }
      }  
    }   
  }          
  .MainSecondHeader {
    background: linear-gradient(rgba(248, 249, 250, 0.801), rgba(152, 160, 124, 0.575));     
    height: 50px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eeeeee; 
    line-height: 50px;
    .name-box {
      height: 50px;
      width: 200px;
      margin: 7px 240px 7px 50px;
      .user-name {
        height: 35px;
        font-size: 15px;
        line-height: 35px;
        text-align: center;
        border: outset 2px;
      }
    }  
    .search-box {
      height: 100%;
      width: 600px;
      display: flex;
      &__input {
        background-color: #ffffff;
        height: 35px;
        width: 350px;
        color: #555555;
        font-size: 14px;
        margin-top: 8px;
        padding: 0 90px 0 20px;
        border: inset #eeeeee 2px;
        border-radius: 20px;
        line-height: 35px;
        position: relative;
      }  
      .search-btn {
        background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753));
        font-size: 13px;
        color: #ffffff;
        margin-top: 15px;
        padding: 0 10px;
        border: outset thin;
        border-radius: 5px;
        &:hover {
        opacity: 0.7;
        }
      }  
    }
    &__social-btn {          
      width: 600px;
      padding-left: 120px;
      .social-btn__facebook {
        color: #ffffff;
        font-size: 15px;
        text-decoration: none;
        background-color: #4169e1;
        border-radius: 3px;
        padding: 4px 8px;
        &:hover {
          opacity: 0.7;
        }  
      }
      .social-btn__twitter {
        color: #ffffff;
        font-size: 15px;
        text-decoration: none;
        background-color: #00bfff;
        margin: 0 15px;
        border-radius: 3px;
        padding: 4px 8px;
        &:hover {
          opacity: 0.7;
        }
      }
      .social-btn__instagram {
        color: #ffffff;
        font-size: 15px;
        text-decoration: none;
        background-color: #fc76bf;
        border-radius: 3px;
        padding: 4px 8px;
        &:hover {
          opacity: 0.7;
        }      
      }
    } 
  }
  .MypageHeader {
    background-color: #eaf6fd;;   
    height: 50px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #eeeeee;
    box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295);  
    .title {
      font-family: ヒラギノ明朝 ProN;
      letter-spacing: 2px;
      font-size: 23px;
      line-height: 50px;
      margin-right: 20px;
      display: flex;
      &__icon {
        margin-right: 5px;
      }
      &__name {
      }
    }
    .Mypage-top {
      color: #444444;
      font-size: 16px;
      line-height: 50px;
      margin: 0 60px;
      cursor: pointer;
      &:hover {
        color: black;
        font-weight: bold;
        text-decoration: underline;
      }
    } 
    .register-book {
      color: #444444;
      font-size: 16px;
      line-height: 50px;
      cursor: pointer;
      &:hover {
        color: black;
        font-weight: bold;
        text-decoration: underline;
      }
    } 
    .registered-book {
      color: #444444;
      font-size: 16px;
      line-height: 50px;
      margin: 0 60px;
      cursor: pointer;
      &:hover {
        color: black;
        font-weight: bold;
        text-decoration: underline;
      }
    }
    .genre-book {  
      color: #444444;
      font-size: 16px;
      line-height: 50px;
      cursor: pointer;
      &:hover {
        color: black;
        font-weight: bold;
        text-decoration: underline;
      }
    } 
    .status-book {
      color: #444444;
      font-size: 16px;
      line-height: 50px;
      margin: 0 60px;
      cursor: pointer;
      &:hover {
        color: black;
        font-weight: bold;
        text-decoration: underline;
      }
    }
    .reading-history {
      color: #444444;
      font-size: 16px;
      line-height: 50px;
      cursor: pointer;
      &:hover {
        color: black;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }         
  .main-registers {
    height: 1200px;
    .registers-box {
      height: 100%;
      width: 100%;         
      padding: 20px 80px; 
        .title-box {  
          height: 30px;
          display: flex;
          margin-bottom: 60px;
          padding-left: 30px;
          .icon {
            font-size: 25px;
            line-height: 30px;
            margin-right: 8px;
          }
          .title {
            font-family: ヒラギノ明朝 ProN;
            letter-spacing: 5px;
            font-size: 25px;
            line-height: 30px;
            padding: 0 12px ;
          }       
          .status-tag-box {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            margin: 5px 0 0 40px;
            display: flex;            
            &__first {
              width: 54px;
              text-align: center;
              border: outset 1px;
              background-color: rgb(238, 238, 238);
              padding: 3px 5px 0 5px;
              cursor: pointer;
              &:hover {
                background-color: black;
                color: #FFF;
              }
            }
            &__second {
              width: 54px;
              text-align: center;
              margin-left: 15px;
              border: outset 1px;
              color: #FFF;
              background-color: #434A54;
              padding: 3px 5px 0 5px;
              cursor: pointer;
              &:hover {
                background-color: #FFF;
                color: #434A54;
              }
            }
            &__third {
              width: 54px;
              text-align: center;
              margin-left: 15px;
              border: outset 1px;
              color: white;
              background-color: black;
              padding: 3px 5px 0 5px;
              cursor: pointer;
              &:hover {
                background-color: #FFF;
                color: black;
              }
            }
            &__fourth {
              width: 65px;
              text-align: center;
              margin-left: 15px;
              border: outset 1px;
              color: white;
              background-color: tomato;
              padding: 3px 5px 0 5px;
              cursor: pointer;
              &:hover {
                background-color: #ed1c24;
              }
            }
          }
        }
        .books-box-top {
          height: 300px;
          padding: 10px;
          display: flex;
          justify-content: space-evenly;
          .book-list {
            background: linear-gradient(rgba(186, 192, 199, 0.733), rgba(185, 205, 218, 0.575));
            height: 250px;
            width: 180px;
            box-shadow: 0 8px 15px 8px rgba(0, 0, 0, 0.295); 
            cursor: pointer;
            &:hover {
              opacity: 0.8;
            }                 
            .book-image {
              // background-image: url(https://images-na.ssl-images-amazon.com/images/I/51jPX80edlL._SX352_BO1,204,203,200_.jpg);
              background-size: 100%;
              height: 190px;
              padding: 20px;
              position: relative;
              .book-genre-tag {
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 70px;
                // background-color: slateblue;
                font-size: 11px;     
                text-align: center;
                color: #fff;                   
              }
              .book-status {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                // border-top: 30px solid #4ca53ad7;
                // border-right: 30px solid #4ca53ad7;
                border-bottom: 30px solid transparent;
                border-left: 30px solid transparent;
                &__title {
                  color: white;
                  font-weight: bold;
                  position: absolute;
                  top: -18px;
                  left: -10px;
                  width: 40px;
                  font-size: 12px;
                  transform: rotate(45deg);
                }
              }
            }
            .book-title {
              height: 60px;
              background-color: #ffffff;
              color: #000000;
              line-height: 60px;
              font-size: 16px;
              font-family: クレー;
              padding: 0 13px;
              text-align: center;
            }
          }                        
        }
        .books-box-middle {
          height: 300px;
          padding: 10px;
          margin: 30px 0;
          display: flex;
          justify-content: space-around;
          .book-list {
            background: linear-gradient(rgba(186, 192, 199, 0.733), rgba(185, 205, 218, 0.575));
            height: 250px;
            width: 180px;
            box-shadow: 0 8px 15px 8px rgba(0, 0, 0, 0.295); 
            cursor: pointer;
            &:hover {
              opacity: 0.8;
            }                 
            .book-image {
              // background-image: url(https://images-na.ssl-images-amazon.com/images/I/51jPX80edlL._SX352_BO1,204,203,200_.jpg);
              // background-image: url(https://m.media-amazon.com/images/I/51d6oIi6W-L._SY346_.jpg);background-size: 100%;
              height: 190px;
              padding: 20px;
              position: relative;
              .book-genre-tag {
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 70px;
                // background-color: teal;
                font-size: 11px;     
                text-align: center;
                color: #fff;                   
              }
              .book-status {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 2;
                // border-top: 30px solid #4ca53ad7;
                // border-right: 30px solid #4ca53ad7;
                border-bottom: 30px solid transparent;
                border-left: 30px solid transparent;
                &__title {
                  color: white;
                  font-weight: bold;
                  position: absolute;
                  top: -18px;
                  left: -10px;
                  width: 40px;
                  font-size: 12px;
                  transform: rotate(45deg);
                }
              }
            }
            .book-title {
              height: 60px;
              background-color: #ffffff;
              line-height: 60px;
              font-size: 16px;
              font-family: クレー;
              padding: 0 13px;
              text-align: center;
            }
          }              
        }
      }
      .books-box-bottom {
        height: 300px;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        .book-list {
          background: linear-gradient(rgba(186, 192, 199, 0.733), rgba(185, 205, 218, 0.575));
          height: 250px;
          width: 180px;
          box-shadow: 0 8px 15px 8px rgba(0, 0, 0, 0.295); 
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }                 
          .book-image {
            // background-image: url(https://m.media-amazon.com/images/I/51d6oIi6W-L._SY346_.jpg);
            background-size: 100%;
            height: 190px;
            padding: 20px;
            position: relative;
            .book-category-tag {
              position: absolute;
              top: 0;
              left: 0;
              height: 20px;
              width: 70px;
              background-color: orangered;
              font-size: 11px;     
              text-align: center;
              color: #fff;                   
            }
            .book-status {
              position: absolute;
              top: 0;
              right: 0;
              z-index: 2;
              // border-top: 30px solid #4ca53ad7;
              // border-right: 30px solid #4ca53ad7;
              border-bottom: 30px solid transparent;
              border-left: 30px solid transparent;
              &__title {
                color: white;
                font-weight: bold;
                position: absolute;
                top: -18px;
                left: -10px;
                width: 40px;
                font-size: 12px;
                transform: rotate(45deg);
              }
            }
          }
          .book-title {
            height: 60px;
            background-color: #ffffff;
            line-height: 60px;
            font-size: 16px;
            font-family: クレー;
            padding: 0 13px;
            text-align: center;
          }
        }              
      }
      .bottom-space {
        height: 100px;
        display: flex;
        .pages { 
          height: 30px;
          width: 100px;
          font-size: 17px;
          margin: 30px 560px 0 766px;
          text-align: center;
          line-height: 30px;
          border: inset;
          background-color: mintcream;
        }
        a { 
          color: #eeeeee;
          background-color: black;
          height: 35px;
          width: 130px;
          text-align: center;
          line-height: 35px;
          margin-top: 30px;
          border: outset 2px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            background-color: rgb(88, 83, 83);
          }
        }
      }
    }
  }


  .footer {
    background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753)); 
    height: 60px;
    text-align: center;
    color: #363333;
    padding: 15px 0;
    border-top: solid 1px #dad8d8;
    .logo {
      height: 10px;
      font-size: 20px;
      font-family: fantasy;
    }
    .sub {
      height: 10px;
      margin-top: 13px;
      font-size: 6px;
    }
    
  }  

a {
  text-decoration: none;
}


