* {
  box-sizing: border-box;
}
 
.MainDisplay_bs {
  height: auto;
  width: 100vw;
  .title-box_bs { 
    font-family: ヒラギノ明朝 ProN;
    letter-spacing: 5px;
    font-size: 25px;
    line-height: 30px;
    padding: 40px 0 0 200px;
    display: flex;
    .icon {
      margin-right: 8px;
    }
  }
  .form_bs {
    background-color: #ffffff;
    height: auto;
    font-family: ヒラギノ明朝 ProN;
    font-size: 13px;
    margin: 25px 0 30px;
    padding: 0 150px;
    .registers-box_bs {
      background-image: linear-gradient(rgba(104, 99, 99, 0), rgba(204, 206, 203, 0.671));
      width: 1100px;
      margin: 0 auto;
      border: outset;
      border-radius: 10px;
      padding-bottom: 30px;
      display: flex;
      .Left-side { 
        width: 1300px;
        padding: 30px 50px 15px 100px;
        .registered-user {
          margin-bottom: 35px;
          display: flex;
          justify-content: center;
          .user-left {  
            .registant {
              margin-bottom: 10px;
            } 
            .name {
              font-size: 16px;
              a {
                color: #000;
                &:hover {
                  font-weight: bold;
                  text-decoration: underline;
                }
              }
            }
          }  
          .user-image_box {
            border: solid thin #cccccc;
            height: 60px;
            width: 60px;
            margin-left: 20px;
            a {
              height: 100%;
              width: 100%;
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            } 
          }
        }
        .Left-image_form {
          display: flex;
          .image-box_bs {
            margin-bottom: 30px;
            box-shadow: 0 0 15px 0 rgba(85, 85, 85, 0.295); 
            img {
              width: 100%;
              height: 100%;
              border: outset 3px rgb(190, 199, 223);
              object-fit: contain;
            } 
          }
        }
      }

      .left-input_result_bs{
        font-size: 22px;
        text-align: center;
      }

      .Right-side_bs { 
        width: 100%;
        padding: 40px 70px 15px 50px;
        .upper-box {
          margin-bottom: 35px;
          display: flex;
        }
        .lower-box {
          margin-bottom: 35px;
          display: flex;
        }
      }
      .title_box {
        height: 50px;
        width: 100%;
        font-size: 22px;
        text-align: center;
        margin-bottom: 43px;
        padding: 0 15px;
        word-wrap: break-word;
      }
      .right-select_box {
        height: 50px;
        width: 250px;
        font-size: 18px;
        line-height: 50px;
        border-bottom: thin solid #cccccc;
        border-radius: 2px;
        margin: 0 35px 0 0;
        padding: 0 10px;
        text-align: center;
      }
      .area_box_bs {
        background-color: #f3f3f3;
        height: 120px;
        width: 535px;
        font-size: 14px;
        border: inset #cccccc thin;
        border-radius: 2px;
        margin-bottom: 20px;
        padding: 5px 15px;
        display: block;
      }
      .title-line_1 {
        font-size: 14px;
        margin: 65px 0 5px 5px;
        display: flex;
      }  
      .title-line {
        font-size: 14px;
        margin:0 0 5px 5px;
        display: flex;
      }
      
      .update-form {
        margin-left: 285px;
      }
      .right-select_box_bs { 
        height: 50px;
        width: 250px;
        font-size: 18px;
        line-height: 50px;
        border-bottom: thin solid #cccccc;
        margin: 0 35px 0 0;
        padding: 0 30px;
        text-align: center;
      }
      .impression-form_bs {
        margin-top: 35px;
      }
      
    }
  }  
}

.to-edit_btn-box {
  height: 50px;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  a {
    padding: 10px 65px;
  }
  .to-edit_btn_2 {
    background-color: #d86100;
    height: 50px;
    width: 250px;
    color: #eeeeee;
    letter-spacing: 3px;
    border: outset 2px;
    box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295); 
    cursor: pointer;
    &:hover {
      background-color: #df6400b2;
      text-decoration: none;
      width: 300px;
      transition: .3s;
    }
  }
}

  .comment-table {
    height: auto;
    width: 1100px;
    margin: 40px auto 0;
    display: block;
    &__title {
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
    .comment-area {
      background-image: linear-gradient(rgba(104, 99, 99, 0), rgba(204, 206, 203, 0.671));
      height: auto;
      width: 1100px;
      margin: 0 auto 30px;
      padding-bottom: 50px;
      border: outset;
      border-radius: 10px;
      .comment_form {
        height: 80px;
        width: 700px;
        margin: 30px auto 20px;
        border: inset thin;
        padding: 10px 20px;
        border-radius: 3px;
        display: block;
      }
      .comment-btn {
        background-color: rgba(50, 177, 135, 0.788);
        color: #ffffff;
        height: auto;
        width: 170px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 5px;
        font-weight: bold;
        margin: 0 auto 40px;
        padding: 5px;
        border-color: whitesmoke;
        border-radius: 30px;
        cursor: pointer;
        display: block;
        box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295); 
        &:hover {
          background-color: rgba(1, 155, 104, 0.836);
          width: 190px;
          transition: .3s;
        }
      }
      .index-title {
        font-size: 16px;
        text-align: center;
        margin-bottom: 15px;
      }
      .comment-index {
        height: auto;
        background-color: #fff;
        width: 700px;
        margin: 0 auto;
        padding: 20px 20px 1px;
        .comment-set {
          margin-bottom: 10px;
          .comment-upper {
            height: 15px;
            font-size: 14px;
            margin-bottom: 5px;
            display: flex;
            .comment-user-name {
              line-height: 15px;
              margin-right: 20px;
              a {
                color: rgb(0, 43, 160);
                font-size: 13px;
                &:hover {
                  color: rgba(0, 43, 160, 0.719);
                } 
              }
            }
            .comment-time {
              font-size: 12px;
              line-height: 15px;
            }
          }
          .comment-lower {
            font-size: 16px;
            word-wrap: break-word
          }
        }
      }
    }
  }

  .margin-bottom_bs {
    margin-bottom: 70px;
  }



a {
  text-decoration: none;
}