* {
  box-sizing: border-box;
}
 
.MainDisplay {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  .form {
    height: calc(100vh - 270px);
    font-family: ヒラギノ明朝 ProN;
    font-size: 13px;
    padding: 0 150px;
    .registers-box {
      display: flex;
      .Left-side { 
        height: 650px;
        width: 1200px;
        padding: 30px 100px 0 270px;
        .registered-user {
          margin-bottom: 20px;
          display: flex;
          justify-content: center;
          .user-left {  
            .registant {
              margin-bottom: 10px;
            } 
            .name {
              font-size: 16px;
            }
          }  
          .user-image_box {
            border: solid thin #cccccc;
            height: 60px;
            width: 60px;
            margin-left: 20px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            } 
          }
        }
        .Left-image_form {
          display: flex;
          .image-box {
            height: 390px;
            width:280px;
            border: outset 3px rgb(190, 199, 223);
            margin: 0 auto;
            padding: 2px;
            font-size: 5px;
            line-height: 160px; 
            text-align: center;
            margin-bottom: 30px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            } 
          }
        }
      }  
      .Right-side { 
        height: 650px;
        width: 100%;
        padding: 25px 70px 15px 50px;
        .upper-box {
          margin-bottom: 35px;
          display: flex;
        }
        .lower-box {
          margin-bottom: 35px;
          display: flex;
        }
      }
      .title_box {
        height: 50px;
        width: 100%;
        font-size: 22px;
        text-align: center;
        margin-bottom: 43px;
        padding: 0 15px;
      }
      .right-select_box {
        background-color: #ffffff;
        height: 50px;
        width: 250px;
        font-size: 22px;
        line-height: 50px;
        border-bottom: thin solid #cccccc;
        border-radius: 2px;
        margin: 0 35px 0 0;
        padding: 0 30px;
        text-align: center;
      }
      .area_box {
        height: 270px;
        width: 535px;
        font-size: 14px;
        border: inset #dbedf0 2px;
        border-radius: 2px;
        margin-bottom: 20px;
        padding: 5px 15px;
        display: block;
      }
      .title-line_1 {
        font-size: 14px;
        margin: 65px 0 5px 5px;
        display: flex;
      }  
      .title-line {
        font-size: 14px;
        margin:0 0 5px 5px;
        display: flex;
      }
      
      .btn-box {
        height: 100px;
        width: 535px;
        margin-top: 5px;
        padding-top: 25px;
        font-size: 20px;
        text-align: center;
        letter-spacing: 3px;
        line-height: 50px;
        display: flex;
        justify-content: space-evenly;
        .register-btn {
          background-color: #04a711;
          height: 50px;
          width: 180px;
          color: #eeeeee;
          border: outset 2px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            background-color: #05800f;
          }  
        }
        a { 
          color: #eeeeee;
          background-color: black;
          height: 50px;
          width: 130px;
          border: outset 2px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            background-color: rgb(88, 83, 83);
          }
        }  
      }
    }
  }  
}

a {
  text-decoration: none;
}