* {
  box-sizing: border-box;
}

.MainDisplay {
  height: 100vh;
  width: 100vw;
}

.Genre_all {
  height: calc(100vh - 270px);
  width: 100%;
  .title-box_gen { 
    font-family: ヒラギノ明朝 ProN;
    letter-spacing: 5px;
    font-size: 25px;
    line-height: 30px;
    padding: 40px 0 0 200px;
    display: flex;
    .icon {
      margin-right: 20px;
    }
  }
  .select_area {
    margin: 70px 0 -20px;
    .select-btn_area {
      width: fit-content;
      margin: 0 auto;
      display: flex;
    
      li.serect-list.active {
        background-color: #000000;
        width: 220px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding: 10px 25px;
        border: outset 2px; 
        border-radius: 5px;
      }
      li {
        background-color: #ffffff;
        width: 220px;
        color:  #000;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        padding: 10px 25px;
        border: outset 2px rgb(233, 233, 233); 
        border-radius: 5px;
      }
    }
  }
}

.genre-area {
  text-align: center;
  line-height: 100px;
  margin: 120px auto;
  display: table;
  a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    border: outset #fff 3px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295);
  }
}

ul.box-upper_gen {
  margin: 0 auto;
  display: flex;
  li.genre_gen {
    height: 100px;
    width: 200px;
    &:hover {
      font-size: 21px;
      font-weight: bold;
      opacity: 0.5;
      transition: .3s;
    }
  }
}

ul.box-middle_gen {
  margin: 0 auto;
  display: flex;
  li.genre_gen {
    height: 100px;
    width: 200px;
    &:hover {
      font-size: 21px;
      font-weight: bold;
      opacity: 0.5;
      transition: .3s;
    }
  }
}

ul.box-lower_gen {
  margin: 0 auto;
  display: flex;
  li.genre_gen {
    height: 100px;
    width: 200px;
    &:hover {
      font-size: 21px;
      font-weight: bold;
      opacity: 0.5;
      transition: .3s;
    }
  }
}

li.genre_gen {
  height: 100px;
  width: 210px;
  &:hover {
    font-size: 21px;
    font-weight: bold;
    opacity: 0.5;
    transition: .3s;
  }
}

.books-box {
  display: flex;
  flex-wrap: wrap;
  .book-list {
    background: linear-gradient(rgba(186, 192, 199, 0.733), rgba(185, 205, 218, 0.575));
    height: 250px;
    width: 180px;
    margin: 22px 43px;
    box-shadow: 0 8px 15px 8px rgba(0, 0, 0, 0.295); 
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    a {
      text-decoration: none; 
    }
    .book-image {
      height: 190px;
      padding: 4px 14px;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
      .book-genre-tag {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 75px;
        font-size: 11px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        img {
          width: 96px;
          height: 65px;
        }
      }
      .book-status {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        border-top: 30px solid #4ca53ad7;
        border-right: 30px solid #4ca53ad7;
        border-bottom: 30px solid transparent;
        border-left: 30px solid transparent;
        &__title {
          color: white;
          font-weight: bold;
          position: absolute;
          top: -18px;
          left: -10px;
          width: 40px;
          font-size: 10px;
          transform: rotate(45deg);
          text-align: center;
        }
      }
    }
    .book-title {
      height: 60px;
      background-color: #ffffff;
      color: #000000;
      line-height: 60px;
      font-size: 16px;
      font-family: クレー;
      padding: 0 13px;
      text-align: center;
      overflow: hidden;
    }
  }           
}