//トップページ以外用
.MainHeader {
  background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753));
  height: 110px;
  padding: 0 340px;
  border-bottom: solid 1px #eeeeee;                         
  .logo-box { 
    height: 50px;  
    width: 200px;
    color: white;
    font-size: 35px;
    font-family: fantasy;
    letter-spacing: 1px;
    padding-top: 10px;
    margin: 0 auto;
    cursor: pointer;
    a {
      color: #fff;
      text-decoration: none;
    }
  }  
  .content-list {
    margin-top: 28px;
    font-size: 15px;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-evenly;
    &__item {
      color: silver;
      cursor: pointer;
      a {
        color: silver;
        &:hover {
          color: #000;
          font-weight: bold;
        }
      }
      a .log-out_btn {
        padding-bottom: -1px;
      }
    }  
  }   
}          
.MainSecondHeader {
  background: linear-gradient(rgba(248, 249, 250, 0.801), rgba(152, 160, 124, 0.575));     
  height: 50px;
  padding: 0 100px;
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #eeeeee; 
  line-height: 50px;;
  .name-box {
    align-items: center;
    display: flex;
    .name-label {
      line-height: 36px;
      margin-right: 10px;
    }
    .user-name {
      height: 35px;
      width: 180px;
      font-size: 15px;
      line-height: 35px;
      text-align: center;
      border: inset 2px;
      border-radius: 5px;
    }
  }  
  .search-box {
    margin: -2px 0;
    display: flex;
    position: relative;
    &__input {
      background-color: #ffffff;
      height: 35px;
      width: 350px;
      font-size: 14px;
      padding: 3px 90px 3px 20px;
      border: inset #eeeeee 2px;
      border-radius: 20px;
    }  
    .search-btn {
      background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753));
      font-size: 13px;
      color: #ffffff;
      padding: 0 10px;
      border: outset thin;
      border-radius: 5px;
      height: 24px;
      line-height: 24px;
      position: absolute;
      top: 15px;
      left: 285px;
      &:hover {
      opacity: 0.7;
      transition: .3s;
      }
    }  
  }
  .social-btn {          
    padding: 11px 0;
    align-items: center;
    display: flex;
    .social-btn__facebook {
      width: auto;
      height: 30px;
      color: #ffffff;
      font-size: 18px;
      text-decoration: none;
      background-color: #4169e1;
      border-radius: 3px;
      padding: 6px 8px 4px;
      text-align: center;
      &:hover {
        opacity: 0.7;
        transition: .3s;
      }  
    }
    .social-btn__twitter {
      width: auto;
      height: 30px;
      color: #ffffff;
      font-size: 18px;
      text-decoration: none;
      background-color: #00bfff;
      margin: 0 15px;
      padding: 6px 8px 4px;
      border-radius: 3px;

      text-align: center;
      &:hover {
        opacity: 0.7;
        transition: .3s;
      }
    }
    .social-btn__instagram {
      width: auto;
      height: 30px;
      color: #ffffff;
      font-size: 18px;
      text-decoration: none;
      background-color: #fc76bf;
      border-radius: 3px;
      padding: 6px 8px 4px;
      text-align: center;
      &:hover {
        opacity: 0.7;
        transition: .3s;
      }      
    }
  } 
}
.MypageHeader {
  background-color: #eaf6fd;;   
  height: 50px;
  padding: 0 360px;
  border-bottom: solid 1px #eeeeee;
  box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295);  
  .content-title {
    font-family: ヒラギノ明朝 ProN;
    letter-spacing: 2px;
    font-size: 23px;
    line-height: 50px;
    margin-right: 20px;
    display: flex;
    .title-icon {
      margin-right: 5px;
    }
  }  
  .content-list {
    display: flex;
    justify-content: space-evenly;
    a {
      color: #444444;
      font-size: 16px;
      line-height: 50px;
      cursor: pointer;
      &:hover {
        color: #002491;
        font-weight: bold;
      }     
    }    
  }
}
.footer {
  background: linear-gradient(rgb(27, 53, 59), rgba(5, 81, 143, 0.753)); 
  height: 60px;
  text-align: center;
  color: #363333;
  padding: 15px 0;
  border-top: solid 1px #dad8d8;
  .logo {
    height: 10px;
    font-size: 20px;
    font-family: fantasy;
  }
  .sub {
    height: 10px;
    margin-top: 13px;
    font-size: 6px;
  }
}