.app-title {
  font-size: 35px;
  font-family: fantasy;
  letter-spacing: 1px;
  text-align: center;
  margin: 40px 0 30px;
}

.content-area_des {
  margin-bottom: 100px;
}

.des-intro {
  font-size: 20px;
  text-align: center;
}

.des-title_1 {
  font-size: 24px;
  text-align: center;
  margin: 60px 0 30px;
}

.des-title_2 {
  font-size: 20px;
  text-align: center;
  margin: 70px 0 30px;
}

.des-text {
  text-align: center;
  margin: 20px 0;
}

.des-image {
  text-align: center;
}

.last-text {
  font-size: 24px;
  text-align: center;
  margin: 100px 0;
}