* {
  box-sizing: border-box;
}
 
.MainDisplay {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  .middle-display_h  {  
    background-image: url(https://cdn.pixabay.com/photo/2014/10/14/20/14/library-488678_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 80px;
    .introduction_box {
      background-color: rgba(207, 241, 248, 0.151);
      height: 500px;
      width: 490px;
      margin-left: 100px;
      margin-bottom: 180px;
      padding: 20px;
      border: 1px;
      border-radius: 15px; 
      .logo {
        height: 50px;  
        width: 200px;
        color: white;
        font-size: 35px;
        font-family: fantasy;
        letter-spacing: 1px;
        margin: 15px 0 20px 15px;
      }
      .text {
        color: #ffffff;
        font-size: 18px;
      }
      .btn_box {
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
      a {
        margin-top: 30px;   
        .app-btn { 
          color: #eeeeee;
          background-color: black;
          height: 45px;
          width: 130px;
          text-align: center;
          line-height: 38px;
          margin: 0 auto;
          border: outset 2px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            background-color: rgb(65, 65, 65);
            width: 150px;
            transition: .3s;
          }
        }
      }
      }
    }
  }
}

.notifi_account_home p {
  background-color: #fff;
  width: fit-content;
  color: rgb(255, 63, 63);
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
  margin: 30px auto 0;
  padding: 2px 9px;
  border-radius: 5px;  
}

a {
  color:#ffffff;
}