// .like_button{
//   background-color: #BDBDBD;
// }

// .like_button_on{
//   background-color: #FE2E2E;
// }

// .like-btn {
//   color: #8899a6;
// }

// .like-btn-unlike {
//   color: #ff2581;
// }

.like-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #808080; 
  margin-left: 20px;
  }
 
 .unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 25px;
  color: #e54747;
  margin-left: 20px;
  }