* {
  box-sizing: border-box;
}
 
.MyBooksShow {
  height: 100%;
  width: 100vw;
  .title-box_mbs { 
    font-family: ヒラギノ明朝 ProN;
    letter-spacing: 5px;
    font-size: 25px;
    line-height: 30px;
    padding: 40px 0 0 200px;
    display: flex;
    .icon {
      margin-right: 8px;
    }
  }
  .form {
    height: calc(100vh - 270px);
    font-family: ヒラギノ明朝 ProN;
    font-size: 13px;
    padding: 0 150px;
    .registers-box {
      display: flex;
      .Left-side { 
        height: 650px;
        width: 1200px;
        padding: 30px 100px 0 270px;
        .Left-upper_form {
          display: flex;
          .image_box {
            height: 270px;
            width: 190px;
            border: outset 3px rgb(190, 199, 223);
            margin: 0 auto;
            font-size: 5px;
            line-height: 160px; 
            text-align: center;
            margin-bottom: 30px;
            padding: 2px;
            box-shadow: 0 0 15px 0 rgba(85, 85, 85, 0.295); 
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }  
      .Right-side { 
        height: 650px;
        width: 100%;
        padding: 25px 70px 15px 50px;
        .upper-box_m {
          margin-bottom: 35px;
          display: flex;
        }
        .middle-box_m {
          margin-bottom: 35px;
          display: flex;
        }
        .lower-box_m {
          margin-bottom: 10px;
          display: flex;
        }
      }
      .left-input_result {
        height: 50px;
        width: 100%;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        border-bottom: thin solid #cccccc;
        margin-bottom: 30px;
        padding: 0 15px;
      }
      .right-select_result {
        height: 50px;
        width: 220px;
        font-size: 20px;
        margin: 0 65px 0 0;
        padding: 0 30px;
        text-align: center;
        line-height: 50px;
        border-bottom: thin solid #cccccc;
      }
      .eva-select_result {
        height: 50px;
        width: 220px;
        font-size: 20px;
        margin: 0 30px 0 0;
        padding: 0 30px;
        text-align: center;
        line-height: 50px;
        border-bottom: thin solid #cccccc;
      }
      .impression-form_mbs {
        margin-top: 16px;
      }
      .area_result {
        height: 120px;
        width: 550px;
        font-size: 14px;
        border: inset #dbedf0 2px;
        border-radius: 2px;
        margin-bottom: 20px;
        padding: 5px 15px;
        display: block;
      }
      .area_result_2 {
        height: 90px;
        width: 264px;
        font-size: 14px;
        border: inset #dbedf0 2px;
        border-radius: 2px;
        padding: 5px 15px;
        display: block;
      }
      .title_memo {
        margin-left: 57px;
      }
      .memo-form_mbs {
        margin-left: 35px;
      } 

      .title-line_1 {
        font-size: 14px;
        margin: 65px 0 5px 5px;
        display: flex;
      }  
      .title-line {
        font-size: 14px;
        margin:0 0 5px 5px;
        display: flex;
      }
      .required {
        background-color: #ff0000;
        color: #ffffff;
        margin-left: 20px;
        padding: 0 6px;
        border-radius: 3px;
      }
      .optional {
        background-color: #7c7c7c;
        color: #ffffff;
        margin-left: 20px;
        padding: 0 6px;
        border-radius: 3px;
      }
      .btn-box_show {
        height: 100px;
        width: 535px;
        margin-top: 5px;
        padding-top: 25px;
        font-size: 20px;
        text-align: center;
        letter-spacing: 3px;
        line-height: 50px;
        display: flex;
        justify-content: space-evenly;
        .to-edit_btn {
          background-color: #1486a8;
          height: 50px;
          width: 180px;
          color: #eeeeee;
          border: outset 2px;
          border-radius: 20px;
          box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295); 
          cursor: pointer;
          &:hover {
            background-color: #1486a8d2;
            text-decoration: none;
            width: 200px;
            transition: .3s;
          }  
        }
        a.back_btn { 
          color: #eeeeee;
          background-color: #131c53;
          height: 50px;
          width: 130px;
          border: outset 2px;
          border-radius: 20px;
          box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295);
          cursor: pointer;
          &:hover {
            background-color: #131b53b6;
            text-decoration: none;
            width: 150px;
            transition: .3s;
          }
        } 
      }
    }
  }  
}

.to-comment_view {
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  a {
    padding: 8px 30px;
  }
  .to-comment_btn {
    background-color: #d86100;
    height: 50px;
    width: 250px;
    color: #eeeeee;
    letter-spacing: 3px;
    border: outset 2px;
    margin: 0 auto;
    padding: 0 30px;
    box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295); 
    cursor: pointer;
    &:hover {
      background-color: #df6400b2;
      text-decoration: none;
      transition: .3s;
    }
  }
}

a {
  text-decoration: none;
}
