* {
  box-sizing: border-box;
}
 
.MainDisplay {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  .form {
    height: calc(100vh - 270px);
    font-family: ヒラギノ明朝 ProN;
    font-size: 13px;
    padding: 0 150px;
    .registers-box {
      display: flex;
      .Left-side { 
        height: 650px;
        width: 1200px;
        padding: 30px 100px 0 270px;
        .Left-upper_form {
          display: flex;
          .image_box {
            height: 230px;
            width: 190px;
            border: outset 3px rgb(190, 199, 223);
            margin: 0 auto;
            font-size: 5px;
            line-height: 160px; 
            text-align: center;
            margin-bottom: 50px;
            padding: 2px;
            img {
              width: 100%;
              height: 100%;
              object-fit: fill;
            }
          }
        }
      }  
      .Right-side { 
        height: 650px;
        width: 100%;
        padding: 25px 70px 15px 50px;
        .upper-box_m {
          margin-bottom: 35px;
          display: flex;
        }
        .middle-box_m {
          margin-bottom: 35px;
          display: flex;
        }
        .lower-box_m {
          margin-bottom: 10px;
          display: flex;
        }
      }
      .left-input_result {
        height: 50px;
        width: 100%;
        font-size: 22px;
        text-align: center;
        margin-bottom: 30px;
        padding: 0 15px;
      }
      .right-select_result {
        height: 50px;
        width: 250px;
        font-size: 20px;
        margin: 0 35px 0 0;
        padding: 0 30px;
        text-align: center;
      }
      .area_result {
        height: 90px;
        width: 550px;
        font-size: 14px;
        border: inset #dbedf0 2px;
        border-radius: 2px;
        margin-bottom: 20px;
        padding: 5px 15px;
        display: block;
      }
      .area_result_2 {
        height: 90px;
        width: 264px;
        font-size: 14px;
        border: inset #dbedf0 2px;
        border-radius: 2px;
        padding: 5px 15px;
        display: block;
      }
      .eva_memo-box {
        display: flex;
      }
      .title_memo {
        margin-left: 57px;
      }
      .title-line_1 {
        font-size: 14px;
        margin: 65px 0 5px 5px;
        display: flex;
      }  
      .title-line {
        font-size: 14px;
        margin:0 0 5px 5px;
        display: flex;
      }
      .required {
        background-color: #ff0000;
        color: #ffffff;
        margin-left: 20px;
        padding: 0 6px;
        border-radius: 3px;
      }
      .optional {
        background-color: #7c7c7c;
        color: #ffffff;
        margin-left: 20px;
        padding: 0 6px;
        border-radius: 3px;
      }
      .btn-box {
        height: 100px;
        width: 535px;
        margin-top: 5px;
        padding-top: 25px;
        font-size: 20px;
        text-align: center;
        letter-spacing: 3px;
        line-height: 50px;
        display: flex;
        justify-content: space-evenly;
        .register-btn {
          background-color: #04a711;
          height: 50px;
          width: 180px;
          color: #eeeeee;
          border: outset 2px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            background-color: #05800f;
          }  
        }
        a { 
          color: #eeeeee;
          background-color: black;
          height: 50px;
          width: 130px;
          border: outset 2px;
          border-radius: 20px;
          cursor: pointer;
          &:hover {
            background-color: rgb(88, 83, 83);
          }
        }  
      }
    }
  }  
}

a {
  text-decoration: none;
}


// * {
//   box-sizing: border-box;
// }
 
// .MainDisplay {
//   background-color: #ffffff;
//   height: 100vh;
//   width: 100vw;
//   .form {
//     height: calc(100vh - 270px);
//     font-family: ヒラギノ明朝 ProN;
//     font-size: 13px;
//     padding: 0 150px;
//     .registers-box {
//       display: flex;
//       .Left-side { 
//         height: 650px;
//         width: 1200px;
//         padding: 30px 100px 0 270px;
//         .registered-user {
//           // background-color: #e4ffe6;
//           margin-bottom: 35px;
//           display: flex;
//           justify-content: center;
//           .user-left {  
//             .registant {
//               margin-bottom: 10px;
//             } 
//             .name {
//               font-size: 16px;
//             }
//           }  
//           .user-image_box {
//             border: solid thin #cccccc;
//             height: 60px;
//             width: 60px;
//             margin-left: 20px;
//             // margin: 0 30px 0 10px; 
//             img {
//               width: 100%;
//               height: 100%;
//               object-fit: contain;
//             } 
//           }
//         }
//         .Left-image_form {
//           display: flex;
//           .image-box {
//             height: 370px;
//             width: 320px;
//             border: outset 3px rgb(190, 199, 223);
//             margin: 0 auto;
//             padding: 2px;
//             font-size: 5px;
//             line-height: 160px; 
//             text-align: center;
//             margin-bottom: 40px;
//             img {
//               width: 100%;
//               height: 100%;
//               object-fit: fill;
//             } 
//           }
//           .evaluation-form {
//             .evaluation_form {
//               background-color: #ffffff;
//               height: 100px;
//               width: 130px;
//               font-size: 20px;
//               margin-right: 20px;
//               display: inline-block;
//             }
//           }  
//         }
//       }  
//       .Right-side { 
//         height: 650px;
//         width: 100%;
//         padding: 25px 70px 15px 50px;
//         .upper-box {
//           margin-bottom: 35px;
//           display: flex;
//         }
//         .lower-box {
//           margin-bottom: 35px;
//           display: flex;
//         }
//       }
//       .title_box {
//         height: 50px;
//         width: 100%;
//         font-size: 22px;
//         text-align: center;
//         margin-bottom: 43px;
//         padding: 0 15px;
//       }
//       .right-select_box {
//         background-color: #ffffff;
//         height: 50px;
//         width: 250px;
//         font-size: 22px;
//         border-radius: 2px;
//         margin: 0 35px 0 0;
//         padding: 0 30px;
//         text-align: center;
//       }
//       .area_box {
//         height: 270px;
//         width: 535px;
//         font-size: 14px;
//         border: inset #dbedf0 2px;
//         border-radius: 2px;
//         margin-bottom: 20px;
//         padding: 0 8px;
//         display: block;
//       }
//       .title-line_1 {
//         font-size: 14px;
//         margin: 65px 0 5px 5px;
//         display: flex;
//       }  
//       .title-line {
//         font-size: 14px;
//         margin:0 0 5px 5px;
//         display: flex;
//       }
      
//       .btn-box {
//         height: 100px;
//         width: 535px;
//         margin-top: 5px;
//         padding-top: 25px;
//         font-size: 20px;
//         text-align: center;
//         letter-spacing: 3px;
//         line-height: 50px;
//         display: flex;
//         justify-content: space-evenly;
//         .register-btn {
//           background-color: #04a711;
//           height: 50px;
//           width: 180px;
//           color: #eeeeee;
//           border: outset 2px;
//           border-radius: 20px;
//           cursor: pointer;
//           &:hover {
//             background-color: #05800f;
//           }  
//         }
//         a { 
//           color: #eeeeee;
//           background-color: black;
//           height: 50px;
//           width: 130px;
//           border: outset 2px;
//           border-radius: 20px;
//           cursor: pointer;
//           &:hover {
//             background-color: rgb(88, 83, 83);
//           }
//         }  
//       }
//     }
//   }  
// }

// a {
//   text-decoration: none;
// }





// .MainDisplay {
//   .book_detail {
//     height: calc(100vh - 270px);
//     .title-box { 
//       font-family: ヒラギノ明朝 ProN;
//       letter-spacing: 5px;
//       font-size: 25px;
//       line-height: 30px;
//       padding: 40px 0 0 200px;
//       display: flex;
//       .icon {
//         margin-right: 8px;
//       }
//     }
//     .upper_box{
//       // background-color: hsl(93, 83%, 82%);
//       height: 510px;
//       width: 100%;
//       padding: 0 50px;
//       display: flex;
//       .upper_left_box {
//         // background-color: #e6fc6b;
//         height: 100%;
//         width: 50%;
//         padding: 10px 0 0 250px;
//         .title {
//           font-size: 23px;
//           text-align: center;
//           margin-bottom: 20px;
//         }
//         .like_box {

//         }
//         .image {
//           background-image: url(https://images-na.ssl-images-amazon.com/images/I/51jPX80edlL._SX352_BO1,204,203,200_.jpg);
//           background-size: 100%;
//           height: 350px;
//           width: 249px;
//           border: 1px;
//           margin: 0 auto;
//           box-shadow: 0 8px 15px 8px rgba(0, 0, 0, 0.295); 
//         }
//         .author {
//           font-size: 20px;
//           margin-top: 30px;
//           text-align: center;
//         }
//       }
//       .upper_right_box {
//         // background-color: #94fc6b;
//         height: 100%;
//         width: 50%;
//         padding: 50px 50px 0 50px;
//         font-family: ヒラギノ角ゴ ProN;
//         color: midnightblue;
//         .top {
//           font-size: 17px;
//           display: flex;
//           justify-content: left;
//           .heading {
//             height: 100px;
//             width: 200px;
//             margin-right: 50px;       
//             .status {
//               font-size: 20px;
//               color: #000;
//               padding: 10px 0 0 30px;
//             }    
//           }
//           .heading {
//             height: 100px;
//             width: 200px;
//             .genre {
//               font-size: 20px;
//               color: #000;
//               padding: 10px 0 0 30px;
//             }
//           }    
//         }
//         .middle {
//           font-size: 17px;
//           display: flex;
//           justify-content: left;
//           .heading {
//             height: 100px;
//             width: 200px;
//             margin-right: 50px;
//           }
//             .item {
//               font-size: 20px;
//               color: #000;
//               padding: 10px 0 0 30px;
//             }
//           .heading {
            
//           }
//             .buydate {
//               font-size: 20px;
//               color: #000;
//               padding: 10px 0 0 30px;
//             }
//         }
//         .heading {
//           font-size: 17px;
//           margin-bottom: 10px;  
//         }
//         .impression {
//           height: 150px;
//           width: 470px;
//           color: #000;
//           border: inset 2px;
//           padding: 5px 15px;
//         }
//       }  
//     }
//     .btn-box {
//       height: 100px;
//       font-size: 20px;
//       text-align: center;
//       letter-spacing: 3px;
//       line-height: 50px;
//       display: flex;
//       justify-content: center;
//       .register-btn {
//         background-color: #1e3ea5;
//         height: 50px;
//         width: 180px;
//         color: #eeeeee;
//         margin-right: 110px;
//         border: outset 2px;
//         border-radius: 20px;
//         cursor: pointer;
//         &:hover {
//           background-color: #1e3ea5b2;
//         }  
//       }
//       .btn { 
//         color: #eeeeee;
//         background-color: black;
//         height: 50px;
//         width: 130px;
//         border: outset 2px;
//         border-radius: 20px;
//         cursor: pointer;
//         &:hover {
//           background-color: rgb(88, 83, 83);
//         }
//       }  
//     }
//   }
//   }

// a {
//   text-decoration: none;
// }


