.bottom-space { 
  margin-left: -10px;
  .pagination {
    background-color: #ffffff;
    width: fit-content;
    font-size: 20px;
    margin: 30px auto 30px;
    padding: 0 25px;
    text-align: center;
    display: flex;
    box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295);  
  }
}

.bottom-space_sea { 
  // margin-left: -10px;
  // margin: 0 auto 30px;
  .pagination {
    background-color: #dfdfdf;
    width: fit-content;
    font-size: 20px;
    margin: 30px auto 30px;
    padding: 0 25px;
    text-align: center;
    display: flex;
    box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295);  
  }
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #004fc5;   /*文字の色を変える*/
  padding: 10px 13px;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #2e2e2e;     /*背景の色を変える*/
  color: #ffffff;
  border-radius: 5px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {       
  font-size: 24px;
  font-weight: bold;
}