* {
  box-sizing: border-box;
}

.content_keyword {
  background-color: #06ccab71;
  width: 100%;
  font-family: serif;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  margin: 0 0 20px;
  padding: 2px 0;
  border: outset thin;
}