* {
  box-sizing: border-box;
}
 
.MainDisplay {
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  
  .MainSecondHeader {
    .search-box {
      height: 100%;
      width: 600px;
      display: flex;
      position: relative;
      &__input {
        background-color: #ffffff;
        height: 35px;
        width: 350px;
        color: #555555;
        font-size: 14px;
        margin-top: 8px;
        padding: 0 90px 0 20px;
        border: inset #eeeeee 2px;
        border-radius: 20px;
        line-height: 35px;
      }  
      .search-btn {
        position: absolute;
        left: 280px;
        input {
          background-color: #7699b6;
          font-size: 13px;
          color: #000000;
          padding: 0 10px;
          border: outset thin;
          border-radius: 5px;
          &:hover {
            opacity: 0.7;
          }
        }
      }  
    }
    
  }
}  
.UserDetails {
  height: calc(100vh - 270px);
  .DetailsContainer {
    height: 100%;
    width: 100%;         
    padding: 20px 80px; 
      .title-box {  
        height: 30px;
        display: flex;
        margin: 20px 0 40px 60px;
        padding-left: 30px;
        .icon {
          font-size: 25px;
          line-height: 30px;
          margin-right: 8px;
        }
        .title {
          font-family: ヒラギノ明朝 ProN;
          letter-spacing: 5px;
          font-size: 25px;
          line-height: 30px;
          padding: 0 12px ;
        }        
      }
      .Details-upper {
        // background-color: #fafdea;
        height: 280px;
        padding: 0 180px;
        display: flex;
        justify-content: space-evenly;
        &__left {
          // background-color: #fcdcdc;
          width: 100%;
          .user-icon {
            background-color: #ffffff;
            background-image: url(https://pics.prcm.jp/dona1118/82181124/png/82181124.png);
            background-size: 100%;
            height: 180px;
            width: 180px;
            border: groove;
            border-radius: 50%;
            margin: 15px 0 15px 300px;
          }
          .user-nickname {
            font-size: 20px;
            margin-top: 30px;
            margin: 30px 0 0 330px;
          }
        }  
        &__right {
          // background-color: #e3eaff;
          width: 100%;
          padding: 20px 20px;
          ul {
           li {
             font-size: 17px;
             margin: 30px 0;
           } 
          } 
        }                        
      }
      .Details-lower {
        // background-color: #eeffdd;
        height: 250px;
        padding: 15px 180px;
        .user-introduction {
          height: 100%;
          width: 600px;
          border: inset;
          margin: 0 auto;
        }
      }  
  }
}  