*{
  box-sizing: border-box;
}

.title-box { 
  font-family: ヒラギノ明朝 ProN;
  letter-spacing: 5px;
  font-size: 25px;
  line-height: 30px;
  padding: 40px 0 0 200px;
  display: flex;
  .icon {
    margin-right: 8px;
  }
}
.form {
  background-color: #ffffff;
  padding-top: 10px;
  .profile-container {
    background-image: linear-gradient(rgba(104, 99, 99, 0), rgba(204, 206, 203, 0.671));
    height: 620px;
    width: 850px;
    font-size: 24px;
    font-weight: bold;
    border: outset;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0 150px;
    .profile-top {
      height: 140px;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      .image-form {
        background-color: rgb(255, 246, 246);
        height: 110px;
        width: 110px;
        border: solid thin;
        margin: 10px 50px 0 0;
        padding: 3px;
        img {
          height: 100%;
          width: 100%;
          display: block;
          margin: 0 auto;
          object-fit: contain;
         } 
        .user-image { 
          height: 100%;
          width: 100%;
          .hidden { 
            height: 100%;
            width: 100%;
            display: none;
          }
        }
        }  
      }  
      .name-box {
        margin-left: 50px;
        .current-name {
          height: 48px;
          width: 220px;
          font-size: 20px;
          font-weight: lighter;
          text-align: center;
          margin: 15px auto 0;
        }
        .name-form {
          background-color: #ffffff;
          height: 48px;
          width: 220px;
          font-size: 16px;
          font-weight: lighter;
          border: inset 3px;
          border-radius: 10px;
          // margin-top: 25px;
          padding: 0 16px;
        }
      }
    .profile-middle {
      font-size: 14px;
      font-weight: lighter;
      margin: 15px 0 0;
      display: flex;
      justify-content: center;
      .favorite-left {
        margin-right: 120px;
        .form_1 {
          width: 200px;
          flex-wrap: wrap;
          margin-bottom: 5px;
          .birth_day {  
            height: 35px;
            width: 220px;
            border-radius: 7px;
            margin-bottom: 15px;
            padding: 0 15px;
          }  
        }
        .form_2 {
          width: 200px;
          flex-wrap: wrap;
          .f_auther-form {  
            height: 35px;
            width: 220px;
            border-radius: 7px;
            margin-bottom: 15px;
            padding: 0 15px;
          }  
        }
      }  
      .favorite-right {
        .form_3 {
          width: 200px;
          flex-wrap: wrap;
          margin-bottom: 5px;
          .f_genre-form {  
            height: 35px;
            width: 220px;
            background-color: #fff;
            border: inset 2px;
            border-radius: 7px;
            margin-bottom: 15px;
            padding: 0 15px;
          }  
        }
        .form_4 {
          width: 200px;
          flex-wrap: wrap;
          .f_book-form {  
            height: 35px;
            width: 220px;
            border-radius: 7px;
            margin-bottom: 15px;
            padding: 0 15px;
          }  
        }
      }
    }
    .profile-bottom {
      height: 240px;
      font-weight: lighter;
      padding: 15px 16px;
      .text-form {
        font-size: 16px;
        .introduction {
          height: 170px;
          width: 530px;
          font-size: 16px;
          border: inset 2px #dddddd;
          border-radius: 7px;
          margin: 0 auto 20px;
          padding: 15px;
          display: block;
        }
      }
    }  
    .btn-form {
      .edit-btn { 
        background-color: rgb(50, 177, 134);;
        height: 50px;
        width: 200px;
        font-size: 16px;
        color: #ffffff;
        line-height: 50px;
        text-align: center;
        border: outset 2px;
        border-radius: 30px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}
