*{
  box-sizing: border-box;
}

.User-info {
  width: 100%;
}

.title-box { 
  font-family: ヒラギノ明朝 ProN;
  letter-spacing: 5px;
  font-size: 25px;
  line-height: 30px;
  padding: 40px 0 0 200px;
  display: flex;
  .icon {
    margin-right: 20px;
  }
}
.form {
  background-color: #ffffff;
  padding-top: 10px;
  .profile-container_i {
    background-image: linear-gradient(rgba(104, 99, 99, 0), rgba(204, 206, 203, 0.671));
    height: 550px;
    width: 780px;
    font-size: 24px;
    font-weight: bold;
    border: outset;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0 110px;
    .profile-top {
      height: 140px;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      .image-form {
        background-color: rgb(255, 246, 246);
        height: 110px;
        width: 110px;
        border: solid thin;
        margin: 10px 50px 0 40px;
        padding: 3px;
        img {
          height: 100%;
          width: 100%;
          display: block;
          margin: 0 auto;
          object-fit: cover;
         } 
        .user-image { 
          height: 100%;
          width: 100%;
          .hidden { 
            height: 100%;
            width: 100%;
            display: none;
          }
        }
        }  
      }  
    .user-name_i {
      height: 100px;
      width: 220px;
      font-size: 20px;
      font-weight: lighter;
      line-height: 100px;
      text-align: center;
      margin-top: 10px;
    }

    .profile-middle {
      font-size: 14px;
      font-weight: lighter;
      margin: 15px 0 0;
      display: flex;
      justify-content: center;
      .favorite-left {
        margin: 0 120px 0 10px;
        .form_1 {
          width: 200px;
          flex-wrap: wrap;
          margin-bottom: 5px;
          .birth_day_i {  
            height: 35px;
            width: 220px;
            border: solid thin;
            border-top: none;
            border-left: none;
            border-right: none;
            margin-bottom: 15px;
            padding: 0 15px;
          }  
        }
        .form_2 {
          width: 200px;
          flex-wrap: wrap;
        }
      }  
      .favorite-right {
        margin-right: 10px;
        .form_3 {
          width: 200px;
          flex-wrap: wrap;
          margin-bottom: 5px;
          .f_genre-form {  
            height: 35px;
            width: 220px;
            background-color: #fff;
            border: inset 2px;
            border-radius: 7px;
            margin-bottom: 15px;
            padding: 0 15px;
          }  
        }
        .form_4 {
          width: 200px;
          flex-wrap: wrap;
        }
      }
    }
    .profile-bottom {
      height: 240px;
      width: 100%;
      font-weight: lighter;
      padding: 15px 16px;
      .text-form {
        font-size: 16px;
        .introduction_i {
          background-color: #ffffff;
          height: 170px;
          width: 540px;
          font-size: 16px;
          border: groove 2px #dddddd;
          border-radius: 7px;
          margin: 0 auto 20px;
          padding: 15px;
          word-wrap: break-word;
        }
      }
    }  
  }
}
.result_under_bar {
  height: 35px;
  width: 220px;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  border: solid thin #b8b8b8;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 15px;
  padding: 0 15px;
  overflow: hidden;
}

.table-title {
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  margin: 60px 0 0px;
}
.count-box { 
  margin: 10px auto;

  .count-title_ush {
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .count-books_ush {
    text-align: center;
    font-size: 24px;
  }
}


.books-area_i {
  background-color: #ffffff;
  margin-bottom: 50px;
  padding: 20px 50px 0 120px;
  display: flex;
  flex-wrap: wrap;
  .book-list_i {
    background: linear-gradient(rgba(186, 192, 199, 0.733), rgba(185, 205, 218, 0.575));
    height: 250px;
    width: 180px;
    margin: 30px 2.2vw 15px;
    box-shadow: 0 8px 15px 8px rgba(0, 0, 0, 0.295); 
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    a {
      text-decoration: none;
    }
    .book-image {
      height: 190px;
      padding: 4px 14px;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
      .book-genre-tag {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 70px;
        font-size: 11px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        img {
          width: 96px;
          height: 65px;
        }                   
      }
    }
    .book-title {
      height: 60px;
      background-color: #ffffff;
      color: #000000;
      line-height: 60px;
      font-size: 16px;
      font-family: クレー;
      padding: 0 13px;
      text-align: center;
      overflow: hidden;
    }
  }
  a {
    text-decoration: none;
  }

}