* {
  box-sizing: border-box;
}

.Item_all {
  height: calc(100vh -270px);
  width: 100vw;
  .title-box_item { 
    font-family: ヒラギノ明朝 ProN;
    letter-spacing: 5px;
    font-size: 25px;
    line-height: 30px;
    padding: 40px 0 0 200px;
    display: flex;
    .icon {
      margin-right: 20px;
    }
  }
}

.item-area {
  height: 100%;
  text-align: center;
  line-height: 80px;
  margin: 190px auto 20px;
  display: table;
  a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin: 0 8px;
    border: outset #fff 3px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(85, 85, 85, 0.295);
  }
}

.item-title_i {
  margin: 0 auto 130px;
  display: table;
  letter-spacing: 2px;
}

ul.box_item {
  background-color: rgb(253, 253, 253);
  margin: 0 auto;
  display: inline-flex;
}

li.read-item {
  height: 230px;
  width: 250px;
  margin: 10px;
  padding-bottom: 5px;
  &:hover {
    font-size: 21px;
    font-weight: bold;
    opacity: 0.5;
    transition: .3s;
  }
}

.real_book {
  img {
    height: inherit;
  }
}

.e_book {
  img {
    height: inherit;
  }
}

.paper_white {
  img {
    height: inherit;
  }
}

.audio_book {
  img {
    height: inherit;
  }
}

ul.item-box_i {
  text-align: center;
  display: flex;
}

li.item.li {
  background-color: rgba(113, 243, 247, 0.438);
  width: 276px;
  border: inset 2px rgb(235, 235, 235);
  margin: 0 8px;
  padding: 3px 0;
}